$filter-active-color: #0074D9;
$filter-active-bg: lighten($filter-active-color, 35);
$filter-active-border: 4px solid $filter-active-color;
$filter-container-border: 2px solid $filter-active-bg;
$filter-icon-hover: $filter-active-color;
$filter-count-color: #c0c0c0;

.filter_actions {
  // border-right: $filter-container-border;
}

.filter_lists {
  .box_content {
    min-height: 500px;  
  }
}

.filter {
  display: block;
  padding: 0.5em;
  font-size: 1em;
  border: none;
  width: 100%;
  text-align: left;
  background: transparent;
  cursor: pointer;
  color: #333;
  font-weight: 400;
  &.filter_sub {
    padding-left: 2em;
  }
  &:hover {
    background: $blue;
  }
  &.filter_active {
    border-left: $filter-active-border;
    border: 1px solid #e5e5e5;
    border-right: none;
    width: 100.3%;
    z-index: 100;
    position: relative;
    background: $white;
    .fa {
      color: #333;
    }
    .filter-count {
      color: white;
    }
  }
  &:focus {
    outline: none;
  }
  .filter-count {
    font-weight: 300;
    color: $filter-count-color;
  }
}