.filter {
  padding: 1em;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 2px solid #fff;
  background-color: $filter-background-color;
  font-size: 0.9em;
  text-align: left;
  position: relative;
  color: $color-black;
  &:hover {
    background: #e5e5e5;
    cursor: pointer;
  }
  &:focus {
    outline: none;
  }
  &.filter_active {
    background-color: $filter-background-color-active;
    color: $filter-text-color-active;
    &:before {
      content: " ";
      position: absolute;
      top: 50%;
      margin-top: -$filter-arrow-dimension;
      left: 100%;
      border-left: $filter-arrow-dimension solid $filter-arrow-color;
      border-top: $filter-arrow-dimension solid transparent;
      border-bottom: $filter-arrow-dimension solid transparent;
    }
  }
}

.statistic_number {
  display: block;
  font-size: 2em;
  font-weight: 900;
}
.statistic_text {
  font-size: 0.9em;
  font-weight: 100;
}
