/*
** MAIN NAVIGATION
** This is a header navigation on desktop and a 
** swipe-enabled sidebar on mobile.
*/


nav {} // DO NOT STYLE :)
body.menu_open {
  overflow:hidden;
  .nav {
    left: 0;
  }
  .button_nav {
    &:before {
      content:"\f00d";
    }
  }
}

// the nav wrapper, element, and all around chill dude
.nav {
  position:relative;
    top: 0; left: 0;
    width: 100%;
    text-align: right;
    border-bottom: 1px solid $med-gray;

  // styling
  @include transition();
  background-color: $white;
  @media (min-width: $break) {
    
  }
}

.button_nav {
  position: absolute;
  // padding: 0.5em 0.7em;
  width: 2em;
  height: 2em;
  right: 0;
  text-align: center;
  border: none;
  font-size: 1.7em;
  background: $color-fuscia;
  @media (min-width: $break) {
    display: none;
  }
  &:before {
    @extend %icon;
    color: $color-white;
    content:"\f142";
  }
  &:focus {
    background: darken($color-fuscia, 10);
    outline: none;
  }
}

// logo space located within the .nav element
.nav_logo {
  height: 100%;
  width: auto;
  line-height: 1em;
  font-size: 32px;
  font-weight: 100;
  @media (min-width: $break) {
    float: left;
    padding-top: 7px;
    padding-left: 10px;
  }
}

// main menu space located within the .nav
.nav_menu {
  display: inline-block;
  vertical-align: middle;
}

// unordered list located within the .nav_menu
.nav_menu_list {
  @include list_reset();
  @media (min-width: $break) {
  }
}

// list item located within the .nav_menu_list
.menu_list_item {
  font-size: 0.9em;
  letter-spacing: .1em;
  font-weight: 400;
  a {
    display: block;
    padding: 1em;
    color: $text;
    text-decoration: none;
    &:hover {
      background: $light-gray;
    }
    @media (min-width: $break) {
      display: inline-block;
    }
  }
  @media (min-width: $break) {
    display: inline-block;
    border: none;
  }
  &.menu_list_item_current {
    a {
      background: $med-gray;  
    }
  }
}

// user-related navigation items located within the .nav
.nav_user {
  overflow: hidden; // temporary. What do we do with long usernames?
  text-align: right;
  padding: 1em;
  color: $nav-user-text-color;
  a { color: $dark-gray; }
  @media (min-width: $break) {
    display: inline-block;
    vertical-align: middle;
    padding: 1em;
    font-size: .8em;
  }
}
.nav_user_profile {
  font-weight: 500;
  color: $text;
}