.service_users,
.service_details {}

.service_details {
  p {
    color: $text;
    .fa {
      color: $med-gray;
      margin-right: 5px;
    }
  }
}

.service_description {
  color: $text;
  line-height: 1.5em;
  margin-bottom: 1em;
}

.service_locations {
  .location {
    position: relative;
    padding: 1em 1em 1em 40px;
    border-bottom: 2px solid $white;
    background-color: $light-gray;
    .location_name {}
    .location_address {
      display: block;
      font-size: 0.8em;
      color: $black;
    }
    &:hover {
      background: darken($light-gray, 5);
      cursor: pointer;
    }
    .fa {
      position: absolute;
      left: 16px;
      top: 50%;
      margin-top: -12px;
      font-size: 1.2em;
      color: $med-gray;
    }
  }
}