{% if patient and request.path == url_for('screener.patient_overview', id=patient.id) %}
  {% for referral in patient.referrals %}
    {% if referral.status == "SENT" or referral.status == "RECEIVED" %}
      {% if referral.to_service_id == current_user.service.id %}
        <div class="notification notification_highlight">
          <i class="fa fa-clock-o"></i>
          <strong>{{ patient.first_name }} {{ patient.last_name }} applied to Nominal (estimated) at {{ current_user.service.name }}</strong><br>
          On {{ referral.created.strftime('%m/%d/%Y') }} from {{ referral.from_app_user.full_name }} at {{ referral.from_app_user.service.name }} <a href="{{ url_for('screener.patient_screening_history', patient_id=patient.id) }}">See full history</a><br>
          <a href="#eligibility-form">Review</a>
        </div>
      {% endif %}
    {% endif %}
  {% endfor %}  
{% endif %}