<ul class="list list_table list_padding">
  {% if patient.fpl_percentage %}
  <li class="list_row">
    <i class="fa">%</i> <span>Estimated Federal Poverty Level<br>
      % <strong>{{ '%0.2f'| format(patient.fpl_percentage|float) }}</strong></span>
  </li>
  {% endif %}

  {% if patient.total_annual_income %}
  <li class="list_row">
    <i class="fa fa-usd"></i> <span>Monthly Income<br>
      $ <strong>{{(patient.total_annual_income / 12) | int}} / {{ _("month") }}</strong></span>
  </li>
  {% endif %}

  {% if patient.household_members %}
  <li class="list_row">
    <i class="fa fa-users"></i> <span>Household Size<br>
      <strong>{{ patient.household_members.count() + 1 }}</strong> household members</span>
  </li>
  {% endif %}

  {% if patient.document_images %}
  <li class="list_row">
    <i class="fa fa-file-text"></i>  <span>Documents<br>
      <strong>{{patient.document_images.count()}}</strong> documents uploaded</span>
  </li>
  {% endif %}
</ul>