// typically an unordered-list
.errors {
  @include list_reset();
  margin: 1em 0;
  padding: 0.8em 1em;
  border-radius: 0.3em;
  border: 1px solid $color-red;
  background: lighten($color-red, 38);
  li {
    font-size: 0.8em;
    line-height: 2em;
    &:before {
      @extend %icon;
      content:"\f06a";
      color: $color-red;
      margin-right: 5px;
    }
    label {
      font-weight: 700;
      margin: 0;
    }
  }
} 
