// a label for a field or a multifield
.field_label {
  display: table-cell;
  color: $field-label-color;
  font-weight: 700;
  font-size: 0.9em;
  height: 35px;
  vertical-align: bottom;
}

// flags are short pieces of text that explain something about the field
.field_flag {
  font-size: 0.8em;
  color: $field_flag_color;
  vertical-align: top;
}

// help text for a field or multifield
.field_helptext {
  display: block;
  font-size: 0.8em;
  color: $color-gray;
  max-width: inherit;
}

// an individual input element in a field
.field_input {
  width: 100%;
  &:focus {
    border: solid 1px $color-blue;
  }
}

// an individual select element in a field
.field_select {
  @extend %dropdown_reset;
  &:before {}
}

.field_input,
.field_select {
  background-color: $color-white;
  display: block;
  padding: 0 0.5em;
  height: 2em; // i think this is legit?
  border: 1px solid #999;
  font-size: 0.9em;
  font-weight: 100;
  color: $color-black;
  @include bbox;
  width: 100%;
  @media (min-width: $break) {}
  .field_input_large {
    padding: .7em 1em;
    border-radius: 5px;
    border: 1px solid #e5e5e5;
    font-size: 1.23em;
  }
}

.hidden-input { display: none; disabled: true; }

// search field styles
.patient_search_form {
  .field_label {
    font-weight: 500;
  }
  .field_input {
    padding: .4em .5em;
    font-size: 1.6em;
  }
}

.field_search_patient_name {
  width: 100%;
}
.field_search_patient_dob,
.field_search_patient_ssn {
  width: 50%;
  .field_label {
    color: $search_input_optional_color;
  }
  .field_input {
    color: lighten($color-black, 50);
  }
}

@media (min-width: $break) {

  // expanded search fields
  .field_search_patient_name {
    width: 100 - ($search_input_optional_width * 2);
  }
  .field_search_patient_dob,
  .field_search_patient_ssn {
    width: $search_input_optional_width;
  }

}

.q_unique {
  .field_label {
    &:after {
      font-weight: 300;
      color: $color-darkgray;
    }
  }
  
}
.q_an {
  .field_label {
    &:after {
      content: "AN";
    }
  }
}

@mixin validator($content, $color) {
  background-color: lighten($color, 30);
  .field_label {
    &:after {
      content:$content;
      color: $color;
    }
  }
  .field_input {
    border: 1px solid $color;
  }
}

