.login_outer {
  background-color: $gray;
}

.login_container {
  width: 400px;
  display: block;
  margin: 3em auto;
}

.login_message {
  font-size: 0.9em;
  font-weight: 300;
  padding: 1em 0;
  text-align: center;
  .fa {
    font-size: 1.3em;
    color: #c0c0c0;
    display: block;
    margin-bottom: 10px;
  }
}

.login_action {
  font-size: 0.9em;
  color: $blue-action;
}

// login fields
.form_field_login {
  width: 100%;
  margin: 0;
  padding: 0.5em;
  font-size: 1.3em;
  font-weight: 300;
}