.form {}

// temporary since we are still using some bootstrap
label {
  margin: 0;
}
textarea {
  display: block;
  width: 100%;
  min-height: 80px;
  border: 1px solid $color-gray;
}

@mixin fs_icon($content: " ") {
  &:before {
    content: $content;
  }
}
form li {
  list-style-type: none;
}

// a wrapping element for multiple fields that lie on one row
.form_row {
  @include clearfix();

  &.form_row_nopadding {
    .form_field {
      padding: 0;
    }
  }
  &.form_row_padding {
    padding: 1em;
  }
}

// a single input with associated label and help text
.form_field {
  @include bbox();
  float: left;
  margin-bottom: 1em;
  width: 100%;
  &:not(:first-child) {
    margin-left: -1px;
  }

  &.field_half {
    width: 50%;
  }
  &.field_third {
    width: 33.333333333%;
  }
  &.field_twothird {
    width: 66.666666666%;
  }
  &.field_quarter {
    width: 25%;
  }
  &.field_sixth {
    width: 16.6666666%
  }

  &.field_pad {
    padding-left: 10px;
    padding-right: 10px;
  }
  &.field_pad_left {
    padding-left: 10px;
  }
  &.field_pad_right {
    padding-right: 10px;
  }
  &.field_float_right {
    float: right;
  }

  &.field_checkboxes {
    @include clearfix;
    .field_input {
      border: none;
      height: auto;
      margin: 0;
      padding: 0;
      width: 100%;
      li {
        width: 50%;
        float: left;
      }
    }
  }


  &.form_field_large {
    .field_input {
      font-size: 1.6em;
      font-weight: 100;
    }
  }
  &.field_required {
    &.validation_required {
      background-color: lighten($ui-new, 35);
    }
    .field_label {
      &:after {
        content: "*";
        color: $ui-new;
      }
    }
  }
}


.validation_valid,
.validation_invalid,
.validation_required {
  .field_input {
    + .field_verification {
      position: absolute;
      right: 23px;
      bottom: 23px;
      &:before {
        @extend %icon;
      }
    }
  }
}
.validation_valid {
  // .field_input {
  //   + .field_verification {
  //     &:before {
  //       content:"\f00c";
  //       color: $color-brightgreen;
  //     }
  //   }
  // }
}
.validation_invalid {
  .field_input {
    border: 1px solid $ui-error;
    background-color: lighten($ui-error, 30);
    // + .field_verification {
    //   &:before {
    //     content:"\f00d";
    //     color: $ui-error;
    //   }
    // }
  }
}
.validation_required {
  .field_input {
    border: 1px solid $ui-new;
    // + .field_verification {
    //   &:before {
    //     content:"\f12a";
    //     color: $ui-new;
    //   }
    // }
  }
}

// two or more inputs that share a label & help text
.multifield {
  .subfields {
    @include clearfix();
  }
}

// a wrapper for a set of many to one forms
.form_multiform_wrapper {}
.form_multiform_collection {
  @include clearfix();
  counter-reset: section;
}
// a form that may be repeated based on the number of items
// also called many-to-one form
.form_multiform_title {
  font-weight: 900;
  font-size: 1.2em;
  text-transform: uppercase;
  margin: 0;
}
.form_multiform {
  @include clearfix();
  position: relative;
  border-top: 1px solid #e5e5e5;
  padding: 0.5em 0.5em 0.5em 2em;
  text-align: left;
  font-size: 1em;
  counter-increment: section;

  &:before {
    position: absolute;
    left: 8px;
    font-size: 12px;
    color: #999;
    top: 11px;
    content: counters(section, " ");
  }

  &.form_multiform_read,
  &.form_multiform_self {
    width: 100%;
    float: left;
    position: relative;
    .multiform_content_fields {
      display: none;
    }
    .multiform_controls {
      .multiform_control_check {
        visibility: hidden;
      }      
    }
  }

  &.form_multiform_edit {
    float: left;
    width: 100%;
    position: relative;
    padding: 0.5em;
    background: lighten(#7FDBFF, 15);
    .multiform_content_fields {
      display: block;
      .form_field {
        margin-bottom: 0;
      }
    }
    .multiform_content_readonly {
      display: none;
    }
    .multiform_controls {
      .multiform_control_check {
        visibility: visible;
      } 
      .multiform_control_edit {
        display: none;
      }      
    }
  }

  &.form_multiform_copy {
    // display: none;
    float: left;
    width: 100%;
    &:before {
      content: "+";
      font-size: 15px;
    }
  }

  &.form_multiform_new {
    float: left;
    width: 100%;
    padding: 0.5em 1em;
    &:before {
      content: "+";
      font-size: 15px;
    }
  }

  &.form_multiform_add {
    float: left;
    width: 100%;
    font-weight: 400;
    font-size: 0.8em;
    text-align: right;
    background: transparent;
    color: $ui-success;
    position: relative;
    border-left: none;
    border-bottom: none;
    border-right: 2px solid white;
    cursor: pointer;
    &:hover {
      background: $ui-success;
      color: white;
    }
    &:before {
      content: "";
    }
  }

  &.form_multiform_self {
    opacity: 0.5;
  }
  .multiform_content {
    float: left;
    width: 100%;
    top: 0;
    .multiform_content_readonly {}
    .multiform_content_fields {}
    .multiform_item {      
      &.multiform_item_description {
        font-size: 0.9em;
        color: $color-darkgray;
      }
    }
  }

  .multiform_controls {
    position: absolute;
    right: 10px;
    top: 4px;
    .multiform_control {
      margin: 0;
      display: inline;
      width: 23px;
      padding: 0.4em;
      background: transparent;
      border: 1px solid $color-white;
      border-radius: 50%;
      font-size: 12px;
    }
  }
}

.form_multiform_deactivated {
  .field_label {
    padding: 0;
    display: none;
  }
  .field_input {
    background: transparent;
    height: auto;
    border: none;
  }
}