.form {
  // font-size: 1.5em;
}

// a wrapper for a full section of the form, such as "household size"
.form_section {
  background-color: $color-lightgray; // placeholder
  margin-bottom: 5em;
  padding: 1em;
}

// a wrapping element for multiple fields that lie on one row
.form_row {
  @include clearfix();
  margin-bottom: .5em;
  .form_field {
    float: left;
    @include bbox();
    &:not(:first-child) {
      margin-left: -1px;
    }
    &.form_field_right {
      float: right;
    }
  }
  &.form_row_nopadding {
    .form_field {
      padding: 0;
    }
  }
}

// a single input with associated label and help text
.form_field {
  display: block;
  margin-top: .2em;
  padding: 0.3em;
  position: relative;
  // @media (max-width: $break) {
  //   width: 100%;
  // }
  // @media (min-width: $break) {
  //   float: left;
  //   
  // }
}

// two or more inputs that share a label & help text
.form_multifield {}


// MULTI FORMS
// aka many-to-one
body { counter-reset: section; }
.form_multiform_wrapper {
  margin-bottom: 3em;
}

// a wrapper for a set of many to one forms
.form_multiform_collection {
}

// a form that may be repeated based on the number of items
// also called many-to-one form
.form_multiform {
  padding: 0.5em 2em 2em;
  margin-bottom: 1em;
  @include clearfix();
  position: relative;
  .form_field {
    margin-top: -1px;
  }
  padding-bottom: 0.5em; // placeholder
  border-top: 1px solid #e5e5e5;
  &::before {
    position: absolute;
    left: 0em;
    top: 0.2em;
    color: $color-gray;
    counter-increment: section;               /* Increment the section counter*/
    content: "" counter(section) " "; /* Display the counter */
  }
}

.form_multiform_controls {
  float: right;
  font-size: 1.3em;
  .form_multiform_remove { color: $color-fuscia; }
  .form_multiform_edit { color: $color-green; }
}

.form_multiform_deactivated {
  .field_label {
    padding: 0;
    display: none;
  }
  .field_input {
    background: transparent;
    height: auto;
    border: none;
  }
}