<div class="form-group">
  <div class="client-menu dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="client-section-button" data-toggle="dropdown" aria-expanded="true">
      Basic Client Info
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="client-section-button">
      <li role="presentation"><a role="menuitem" tabindex="-1" href="/client_basic-info.html">Basic Info</a></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="/client_id-info.html">ID Info</a></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="/client_contact-info.html">Contact Info</a></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="/client_fpl.html">FPL</a></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="/client_documents.html">Client Documents</a></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="/client_demographics.html">Demographic Info</a></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="/client_other.html">Other Info</a></li>
    </ul>
  </div>
</div>


