<h4>Patient ID</h4>

<form action="" method="post">

  {% include patient_name.html %}

  <div class="dob_ssn_group">
      <div class="form-group dob">
        <label for="dob">Date of birth</label>
        <input type="text" class="form-control" name="dob" id="dob"{% if page.patient.dob %} value="{{page.patient.dob}}"{% endif %}>
      </div>

      <div class="form-group ssn">
        <label for="ssn">SSN</label>
        <input type="text" class="form-control" name="ssn" id="ssn" placeholder="555-55-5555" pattern="\d{3}-?\d{2}-?\d{4}"{% if page.patient.ssn %} value="{{page.patient.ssn}}"{% endif %}>
      </div>
  </div>

  <button type="button" class="btn btn-primary">
    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
  {% if page.patient %} Save patient info {% else %} Save new patient info {% endif %}
  </button>

</form>



