<h5>Emergency Contact</h5>

  <div class="form-group">
    <label for="emergency_contact_name">Name</label>
    <input type="text" class="form-control" name="emergency_contact_name" id="emergency_contact_name" {% if page.patient.emergency_contact %} value="{{page.patient.emergency_contact.name}}"{% endif %}>
  </div>

  <div class="emergency_contact_relation_phone_group">
    <div class="form-group emergency_contact_relation">
      <label for="emergency_contact_relation">Relationship to Patient</label>
      <input type="text" class="form-control" name="emergency_contact_relation" id="emergency_contact_relation"{% if page.patient.emergency_contact %} value="{{page.patient.emergency_contact.relation}}"{% endif %}>
    </div>

    <div class="form-group emergency_contact_phone">
      <label for="emergency_contact_phone">Phone Number</label>
      <input type="tel" class="form-control" name="emergency_contact_phone" id="emergency_contact_phone" {% if page.patient.emergency_contact %} value="{{page.patient.emergency_contact.phone}}"{% endif %}>
    </div>
  </div>

