<h4>Employment Info</h4>

<form action="" method="post">

<!--Student status	select(Full-time|Part-time)-->
<!--Employer name	text-->
<!--Employer phone number	tel-->
<!--Spouse's employment status	multiselect(Full-time|Part-time|Seasonal|Disabled|Retired|Student|Dependent|Unemployed)-->
<!--Spouse's employer name	text-->
<!--Spouse's employer phone number	tel-->

  <button type="button" class="btn btn-primary">
    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
    Save patient info
  </button>

</form>



