{% extends "base.html" %}
{% block content %}
{% from "security/_macros.html" import render_field_with_errors, render_field %}
{% include "security/_messages.html" %}
<div class="outer login_outer">
  <div class="inner">
    <div class="login_container">
      <div class="login_message">
        <i class="fa fa-lock"></i>
        {{ _("Change Password") }}
      </div>
      <form action="{{ url_for_security('change_password') }}" method="POST" name="change_password_form">
        {{ change_password_form.hidden_tag() }}
        {{ render_field_with_errors(change_password_form.password, class="form_field_login") }}
        {{ render_field_with_errors(change_password_form.new_password, class="form_field_login") }}
        {{ render_field_with_errors(change_password_form.new_password_confirm, class="form_field_login") }}
        {{ render_field(change_password_form.submit, class="button button_blue button_login") }}
      </form>
    </div>
  </div>
</div>
{% endblock%}