---
layout: default
login: false
---

<h3>Forgot password?</h3>
<p>Not a problem. Let's get you logged in.</p>
<form>
  <p>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
    <span id="helpBlock" class="help-block">You should receive an email from <strong>pwd@rva.org</strong> with a link to reset your password.</span>
  </div>
  <a class="btn btn-default" href="auth_password-reset.html">Reset Password</a>
</form>