// patient referall/screening history

.history {}

@mixin history_border($color) {
  .history_content {
    border-left: 3px solid $color;
    &:before {
      background: $color;
    }
  }
}

.history_item {
  .history_date {
    font-size: 0.8em;
    color: $color-darkgray;
    @media (min-width: $break) {
      text-align: right;
      padding-right: 0.8em;
    }
  }
  .history_content {
    position: relative;
    font-size: 0.9em;
    padding: 0 0.8em 1.5em;
    border-left: 3px solid $color-lightgray;
    &:before {
      content: " ";
      position: absolute;
      left: -11px;
      top: 0;
      width: 13px;
      height: 13px;
      border-radius: 50%;
      border: 3px solid $color-white;
      background: $color-lightgray;
    }
  }
  .history_title {
    margin: 0;
    font-size: 1.3em;
    .fa {
      font-size: .7em;
      margin: auto 0.5em;
      color: $color-gray;
    }
  }
  .history_notes {
    margin-top: 1em;
    font-size: 0.9em;
    color: #888;
  }
  p {
    margin: 0.2em 0;
  }

  &.history_referral {
    .history_content {
      padding-bottom: 1em;
    }
  }
  &.history_screening {}
  &.history_form {
    margin-top: 2em;
    padding-top: 1em;
    border-top: 1px solid $color-lightgray;
  }

  // data-specific classnames
  &.results_item_eligible,
  &.history_item_completed {
    @include history_border($color-green);
  }
  &.results_item_ineligible {
    @include history_border($color-gray); 
  }
  &.history_item_received {
    @include history_border($color-blue);
  }
  &.history_item_sent {
    @include history_border(lighten($color-blue, 20));
  }
}


.history_results_form {
  margin-top: 5em;
}