.patientOverview {
  margin: 0;
  padding: 0;
  list-style-type: none;
  background: $white;
  li {
    padding: 0.5em;
    font-size: 1em;
    font-weight: 700;
    border-bottom: 1px solid #f6f6f6;
    span {
      font-size: 0.9em;
      padding: 5px 7px;
      border-radius: 0.2em;
      color: $text;
      background-color: $blue;
    }
    &:hover {
      background: transparent;
    }
  }
}

.patientEstimation {
  padding: 1em;
  &.patientEstimation_eligible {
    background: $green;
  }
  &.patientEstimation_noteligible {
    background: $red;
  }
}

.patientPastResults {
  .past_result {
    color: $text;
    position: relative;
    margin-left: -1em;
    margin-right: -1em;
    border-top: 1px solid #e5e5e5;
    padding: 1em;
    padding-left: 2.7em;
    
    .fa {
      position: absolute;
      left: 15px;
      top: 15px;
      font-size: 1.2em;
    }

    &.past_result_eligible {
      .fa {
        color: $green;
      }
    }
    
    &.past_result_noteligible {
      .fa {
        color: $red;
      }
    }
  }
}