$pNav-li-color: #333;
$pNav-li-bg: #e5e5e5;
$pNav-li-bg-active: lighten(#7FDBFF, 10);
$pNav-li-border-active: 4px solid darken(#7FDBFF, 10);

nav.patientNav {
  .patientNav_list,
  .patientNav_sublist {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  .patientNav_list {

    a {
      color: $pNav-li-color;
      display: block;
    }

    .patientNav_li {
      background: $pNav-li-bg;
      margin-top: 3px;
      font-weight: 500;
      a {
        padding: 0.8em 1.2em;
        .fa {
          margin-right: 10px;
        }
      }
      &.patientNav_li_active {
        background: $pNav-li-bg-active;
        border-left: $pNav-li-border-active;
      }
    }

    .patientNav_subli {
      background: $pNav-li-bg;
      font-weight: 300;
      a {
        padding: 0.5em 0.5em 0.5em 2em;
      }
      &.patientNav_subli_active {
        background: $pNav-li-bg-active;
        border-left: $pNav-li-border-active;
        width: 120%; // arbitrary
      }
    }
  }
}