.patientProfile {
  margin: 2em 0;
  padding-bottom: 2em;
  border-bottom: 1px solid #e5e5e5;
  .patientProfile-block {
    margin-top: 2em;
  }
  .patientProfile-infoblock {
    margin-bottom: 0.5em;
  }
  a {
    color: #333;
    text-decoration: underline;
  }
  .patient-name {
    font-weight: 500;
    margin: 0;
  }
  .patient-star {
    margin-left: 0.5em;
  }
  .patient-descriptor {
    display: block;
    font-size: 0.9em;
    font-weight: 300;
  }
  .patient-info {
    display: block;
    font-size: 2em;
    font-weight: 300;
    &.patient-info-small {
      font-size: 1em;
      font-weight: 700;
    }
  }
}
.patientProfile-photo {
  img {
    max-width: 100%;
    height: auto;
  }
}