// left-hand column typically
.overview_patient {
  border-top: 1px solid darken($color-lightgray, 10);
  border-bottom: 1px solid darken($color-lightgray, 10);
  padding-top: 1em;
  .overview_patient_item {
    cursor: default;
    display: inline-block;
    margin-bottom: 0.8em;
    white-space: nowrap;
    .fa {
      color: $color-gray;
      text-align: center;
      width: 1em;
    }
    p {
      font-size: 0.7em;
      margin: 0;
      color: $color-darkgray;
    }
    h2 {
      font-size: 1.2em;
      margin: 0;
      color: $color-blue;
    }
  }
}