.section_search {
  padding: 3em 0;
  // background-color: $section_search_background_color;
  border-bottom: 1px solid $color-gray;
}

.patient_search_form {
  margin-bottom: 1.5em;
}

.search_results {}

.button_add_new_patient {
  width: 100%;
  // display: block;
  background-color: #e5e5e5;
  font-size: 1em;
  @include bbox();
}

.no_results {
  text-align: center;
  .button_add_new_patient {
    width: auto;
  }
}

.search_results_spinner {
  display: block;
  text-align: center;
}

// to spin things infinitely
@-webkit-keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.spinner {
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
}