.section_search {
  padding: 3em 0;
  background-color: $white;
  box-shadow: 0 0 4px 0px rgba(0,0,0,0.6);
  margin-bottom: 1em;
}

.search_results {}

.button_add_new_patient {
  width: 100%;
  background-color: $gray;
  font-size: 1em;
  @include bbox();
}

.no_results {
  text-align: center;
  .button_add_new_patient {
    width: auto;
  }
}

.list_search {
  .list_row {
    opacity: 0.6;
    &:hover {
      opacity: 1;
      background: transparent;
      .patient_search_result_item {
        background: $blue;
      }
    }
  }
  .patient_search_result_item {
    font-size: 1.6em;
    background: white;
    border: 1px solid #c0c0c0;
    padding: 0.4em;
    margin-top: -1px;
    &:not(:first-child) {
      margin-left: -1px;
    }
  }
  .patient_search_noresults {
    background: white;
    opacity: 0.8;
    border: none;
  }
  .patient_search_button {}
}