
/* PATIENT DETAILS
 *
 *
 */

// FORM LISTS
.form-list-item {
    border-top: 1px solid #ccc;
}


// DOCUMENTS
.document_thumbnail img {
  width: 4rem;
}



.patient-options { overflow: auto; }
.left{ float: left; }
.right{ float: right; }
.hidden-input { display: none; disabled: true; }

.patient_doc_thumbnail img {
}

/*[___] [___]*/
.dob_ssn_group { overflow: auto; }
.dob { float: left; width: 45%; }
.ssn { float: right; width: 45%; }

/* Phone numbers */
.main_phone input { font-weight: bold; }
.phone_number_number { max-width: 8em; }
/* Addresses */
.address_type { max-width: 5em; }
/* Emergency Contact relation & Phone */
.emergency_contact_relation_phone_group { overflow: auto; }
.emergency_contact_relation { float: left; width: 60% }
.emergency_contact_phone { float: right; width: 35%; }

/* Gender Transgender */
.patient_gender_trans_group { overflow: auto; }
.gender { float: left; width: 45% }
.transgender { float: right; width: 45%; }

/* HOUSEHOLD SIZE
 */
tr.hh_member.patient {
  color: #888;
}

.hh_member_subform {
  overflow: auto;
}

.hh_member_dob {
  float: left;
  width: 43%;
}

.hh_member_relationship_to_patient {
  float: right;
  width: 53%;
}
