/* * * * * * * * 
**
** RANDOM
** These should eventually be sorted, unless we are using them
** as helpers across the .scss files. If so, please move to the
** HELPERS section.
**
** * * * * * * */

$width-third: 33%;
$width-twothird: 66%;
$width-half: 50%;



// paddings
$bump-small: 5px;


/* * * * * * * * 
**
** BREAKS & MEDIA QUERIES
**
** * * * * * * */
$break: 50em;
$break-large: 70em;


/* * * * * * * * 
**
** COLORS
**
** * * * * * * */

$color-black: #222;
$color-white: #fff;
$color-gray: #c0c0c0;
$color-darkgray: #999;
$color-lightgray: #f6f6f6;

$color-blue: steelblue;
$color-red: #DF4D4A;
$color-green: #2ECC40;
$color-fuscia: #c71e56;

/* * * * * * * * 
**
** UI - GENERAL
** This naming scheme is questionable - would love to see where
** it actually goes. It's a bit similar to mixins & helpers ...
**
** * * * * * * */

$ui-new: $color-blue;
$ui-alert: $color-red;
$ui-success: $color-green;

$font-main: "Verdana", sans-serif;
$font-header: arial, sans-serif;


/* * * * * * * * 
**
** BASE
**
** * * * * * * */

$text-color: $color-black;
$background-color: $color-lightgray;


/* * * * * * * * 
**
** MAIN NAVIGATION
**
** * * * * * * */
$nav-sidebar-width: 200px;
$nav-background-color: $color-fuscia;
$nav-item-border: 1px solid lighten($nav-background-color, 10);


/* * * * * * * * 
**
** FORMS
**
** * * * * * * */

$field-border-color: $color-gray;

// field_label
$field_label_color: $color-black;

// flags
$field_flag_color: $color-darkgray;

%dropdown_reset {
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  background-image: url(/img/dropdown_arrows.png);
  background-position: 99% 50%;
  background-size: 20px;
  background-repeat: no-repeat;
}


/* * * * * * * * 
**
** FILTERS
**
** * * * * * * */

$filter-background-color: $color-lightgray;
$filter-icon-color: darken($filter-background-color, 12);
$filter-button-background-color: $color-white;
$filter-button-active-background-color: $color-blue;

$filter-arrow-dimension: 10px;


/* * * * * * * * 
**
** SEARCH - PATIENT SEARCH
**
** * * * * * * */

$section_search_background_color: $color-lightgray;
$search_input_optional_width: 25%;
$search_input_optional_color: $color-gray;


/* * * * * * * * 
**
** SIDEBAR
**
** * * * * * * */

$sidebar-margin: 2em;
$sidebar-background-color: $color-lightgray;
$sidebar-title-color: $color-darkgray;


/* * * * * * * * 
**
** STATS
**
** * * * * * * */

$stat-number-text-color: $color-fuscia;


/* * * * * * * * 
**
** CHECKBOX
**
** * * * * * * */

$checkbox-disabled-background: #e5e5e5;
$checkbox-content-width: 250px;
$checkbox-title-font-size: 1em;
$checkbox-text-font-size: $checkbox-title-font-size - 0.3em;
$checkbox-padding: 1em;


/* * * * * * * * 
**
** TABS
**
** * * * * * * */

$tab-container-margin: 2em 0 0.5em;
$tab-font-size: 0.8em;
$tab-padding: 0.7em 1.2em;
$tab-border: 1px solid $color-gray;
$tab-active-border: 1px solid $color-white;
$tab-background-color: $color-white;
$tab-margin: 5px;
$tab-border-radius: 5px;
$tab-hover-color: $color-lightgray;

%tab_meta_border {
  content: " ";
  position: absolute;
  border-bottom: $tab-border;
  bottom: -1px;
  width: $tab-margin + 1px;
}

