/* * * * * * * * 
**
** Breaks & Media Queries
**
** * * * * * * */
$break: 50em;
$break-large: 70em;


/* * * * * * * * 
**
** Colors
**
** * * * * * * */
$white: #fff;
$gray: #e5e5e5;
$light-gray: #f5f5f5;
$med-gray: #edefed;
$dark-gray: #999;
$black: #222;

$blue: #d3ebed;
$blue-action: #a583bc;
$yellow: #fff680;
$green: #c8e9dc;
$green-action: #00a978;
$brightgreen: #2ecc40;
$red: #f7aa9e;

$text: #555;

$ui-new: $blue;
$ui-alert: $red;
$ui-error: $red;
$ui-success: $green;

$font-main: "Segoe UI", "Roboto", "Helvetica Neue", sans-serif;
$font-header: "Segoe UI", "Roboto", "Helvetica Neue", sans-serif;

.color-black {
  background-color: $black; }
.color-white {
  background-color: $white; }
.color-gray {
  background-color: $med-gray; }
.color-darkgray {
  background-color: $dark-gray; }
.color-lightgray {
  background-color: $light-gray; }
.color-blue {
  background-color: $blue; }
.color-blue-action {
  background-color: $blue-action; }
.color-red {
  background-color: $red; }
.color-green {
  background-color: $green; }
.color-green-action {
  background-color: $green-action; }
.color-brightgreen {
  background-color: $brightgreen; }
.color-yellow {
  background-color: $yellow; }
