<section class="style-guide-section">
  <span class="style-guide-header">Blocks</span>
  <p class="style-guide-explanation">Blocks are the essential dividers used in the application. They can be used for major layouts or small components. They are floating elements, so make sure to wrap them within a <code>.row</code> element for a proper clearfix. All blocks are styled <code>box-sizing: border-box</code> so padding and margins are added inwards, not outwards.</p>
</section>
<style>
  .style-guide-block {
    background: #f6f6f6;
    height: 200px;
    border: 1px solid #fff;
  }
</style>
<div class="row">
  <div class="block_8 style-guide-block"><code>.block_8</code></div>
  <div class="block_4 style-guide-block"><code>.block_4</code></div>
</div>

<div class="row">
  <div class="block_6 style-guide-block block_padding"><code>.block_6 block_padding</code></div>
  <div class="block_6 style-guide-block block_padding"><code>.block_6 block_padding</code></div>
</div>

<div class="row">
  <div class="block_1 style-guide-block"><code>.block_1</code></div>
  <div class="block_1 style-guide-block"><code>.block_1</code></div>
  <div class="block_1 style-guide-block"><code>.block_1</code></div>
  <div class="block_1 style-guide-block"><code>.block_1</code></div>
  <div class="block_1 style-guide-block"><code>.block_1</code></div>
  <div class="block_1 style-guide-block"><code>.block_1</code></div>
  <div class="block_1 style-guide-block"><code>.block_1</code></div>
  <div class="block_1 style-guide-block"><code>.block_1</code></div>
  <div class="block_1 style-guide-block"><code>.block_1</code></div>
  <div class="block_1 style-guide-block"><code>.block_1</code></div>
  <div class="block_1 style-guide-block"><code>.block_1</code></div>
  <div class="block_1 style-guide-block"><code>.block_1</code></div>
</div>