<section class="style-guide-section">
  <span class="style-guide-header">Buttons</span>
  <p class="style-guide-explanation"></p>
</section>

<a class="button button_small"><code>.button_small</code></a>
<a class="button button_small button_black"><code>.button_small</code></a>
<a class="button button_small button_blue"><code>.button_small</code></a>
<a class="button button_small button_red"><code>.button_small</code></a>
<a class="button button_small button_green"><code>.button_small</code></a>
<a class="button button_small button_brightgreen"><code>.button_small</code></a>
<br>

<a class="button"><code>.button</code></a>
<a class="button button_black"><code>.button_black</code></a>
<a class="button button_blue"><code>.button_blue</code></a>
<a class="button button_red"><code>.button_red</code></a>
<a class="button button_green"><code>.button_green</code></a>
<a class="button button_brightgreen"><code>.button_brightgreen</code></a>
<br>

<a class="button button_fat"><code>.button_fat</code></a>
<a class="button button_fat button_black"><code>.button_fat</code></a>
<a class="button button_fat button_blue"><code>.button_fat</code></a>
<a class="button button_fat button_red"><code>.button_fat</code></a>
<a class="button button_fat button_green"><code>.button_fat</code></a>
<a class="button button_fat button_brightgreen"><code>.button_fat</code></a>
<br>

<a class="button button_large"><code>.button_large</code></a>
<a class="button button_large button_black"><code>.button_large</code></a>
<a class="button button_large button_blue"><code>.button_large</code></a>
<a class="button button_large button_red"><code>.button_large</code></a>
<a class="button button_large button_green"><code>.button_large</code></a>
<a class="button button_large button_brightgreen"><code>.button_large</code></a>
<br>

<a class="button button_inverse"><code>.button</code></a>
<a class="button button_inverse button_black"><code>.button_black</code></a>
<a class="button button_inverse button_blue"><code>.button_blue</code></a>
<a class="button button_inverse button_red"><code>.button_red</code></a>
<a class="button button_inverse button_green"><code>.button_green</code></a>
<a class="button button_inverse button_brightgreen"><code>.button_brightgreen</code></a>
<br>

<a class="button button_error"><code>.button_error</code></a>
<a class="button button_warning"><code>.button_warning</code></a>
<a class="button button_success"><code>.button_success</code></a>
<a class="button button_new"><code>.button_new</code></a>
<br>

<a class="button button_add button_green"><code>.button_add</code></a>
<a class="button button_right button_brightgreen"><code>.button_right</code></a>
<br>