<section class="style-guide-section">
  <span class="style-guide-header">Checkboxes & Radios</span>
  <p class="style-guide-explanation">Checkboxes are the main constructer here, with radio buttons piggy-backing on the styles and using the same classes.</p>
</section>

<p><strong>Checkboxes</strong></p>

<label class="field_checkbox checkbox_small">
  <input type="checkbox" class="text" value="1" name="services" checked="true">
  <span class="field_checkbox_content">
    <span class="field_checkbox_content_title"><code>.checkbox_small</code></span>
  </span>
</label>
<label class="field_checkbox checkbox_small checkbox_blue">
  <input type="checkbox" class="text" value="1" name="services" checked="true">
  <span class="field_checkbox_content">
    <span class="field_checkbox_content_title"><code>.checkbox_blue</code></span>
  </span>
</label>
<label class="field_checkbox checkbox_small checkbox_green">
  <input type="checkbox" class="text" value="1" name="services" checked="true">
  <span class="field_checkbox_content">
    <span class="field_checkbox_content_title"><code>.checkbox_green</code></span>
  </span>
</label>
<label class="field_checkbox checkbox_small checkbox_red">
  <input type="checkbox" class="text" value="1" name="services" checked="true">
  <span class="field_checkbox_content">
    <span class="field_checkbox_content_title"><code>.checkbox_red</code></span>
  </span>
</label>

<br><br>

<label class="field_checkbox">
  <input type="checkbox" class="text" value="1" name="services" checked="true">
  <span class="field_checkbox_content">
    <span class="field_checkbox_content_title"><code>.field_checkbox</code></span>
  </span>
</label>
<label class="field_checkbox checkbox_blue">
  <input type="checkbox" class="text" value="1" name="services" checked="true">
  <span class="field_checkbox_content">
    <span class="field_checkbox_content_title"><code>.checkbox_blue</code></span>
  </span>
</label>
<label class="field_checkbox checkbox_green">
  <input type="checkbox" class="text" value="1" name="services" checked="true">
  <span class="field_checkbox_content">
    <span class="field_checkbox_content_title"><code>.checkbox_green</code></span>
  </span>
</label>
<label class="field_checkbox checkbox_red">
  <input type="checkbox" class="text" value="1" name="services" checked="true">
  <span class="field_checkbox_content">
    <span class="field_checkbox_content_title"><code>.checkbox_red</code></span>
  </span>
</label>

<br><br>

<label class="field_checkbox checkbox_extra">
  <input type="checkbox" class="text" value="1" name="services" checked="true">
  <span class="field_checkbox_content">
    <span class="field_checkbox_content_title"><code>.checkbox_extra</code></span>
    <span class="field_checkbox_content_text">Lorem ipsum dolor sit amet, consectetur <a href="#">adipisicing</a> elit, sed do eiusmod</span>
  </span>
</label>

<label class="field_checkbox checkbox_extra checkbox_blue">
  <input type="checkbox" class="text" value="1" name="services" checked="true">
  <span class="field_checkbox_content">
    <span class="field_checkbox_content_title"><code>.checkbox_extra</code></span>
    <span class="field_checkbox_content_text">Lorem ipsum dolor sit amet, consectetur <a href="#">adipisicing</a> elit, sed do eiusmod</span>
  </span>
</label>

<label class="field_checkbox checkbox_extra checkbox_green">
  <input type="checkbox" class="text" value="1" name="services" checked="true">
  <span class="field_checkbox_content">
    <span class="field_checkbox_content_title"><code>.checkbox_extra</code></span>
    <span class="field_checkbox_content_text">Lorem ipsum dolor sit amet, consectetur <a href="#">adipisicing</a> elit, sed do eiusmod</span>
  </span>
</label>

<label class="field_checkbox checkbox_extra checkbox_red">
  <input type="checkbox" class="text" value="1" name="services" checked="true">
  <span class="field_checkbox_content">
    <span class="field_checkbox_content_title"><code>.checkbox_extra</code></span>
    <span class="field_checkbox_content_text">Lorem ipsum dolor sit amet, consectetur <a href="#">adipisicing</a> elit, sed do eiusmod</span>
  </span>
</label>

<pre class="style-guide-code">
<span class="style-guide-code-comment">&lt;-- checkbox --&gt;</span>
&lt;label class="field_checkbox"&gt;
&lt;input type="checkbox" class="text" value="1" name="services" checked="true"&gt;
&lt;span class="field_checkbox_content"&gt;
  &lt;span class="field_checkbox_content_title"&gt;TEXT&lt;/span&gt;
&lt;/span&gt;
&lt;/label&gt;

<span class="style-guide-code-comment">&lt;-- checkbox extra --&gt;</span>
&lt;label class="field_checkbox checkbox_extra checkbox_red"&gt;
&lt;input type="checkbox" class="text" value="1" name="services" checked="true"&gt;
&lt;span class="field_checkbox_content"&gt;
  &lt;span class="field_checkbox_content_title"&gt;&lt;code&gt;TEXT&lt;/code&gt;&lt;/span&gt;
  &lt;span class="field_checkbox_content_text"&gt;Extra text&lt;/span&gt;
&lt;/span&gt;
&lt;/label&gt;</pre>

<br>
<p><strong>Radio buttons</strong></p>

<label class="field_radio checkbox_small checkbox_blue">
  <input type="radio" class="text" value="1" name="Do you have health insurance?">
  <span class="field_checkbox_content">
    <span class="field_checkbox_content_title">Yes</span>
  </span>
</label>
<label class="field_radio checkbox_small checkbox_blue">
  <input type="radio" class="text" value="1" name="Do you have health insurance?">
  <span class="field_checkbox_content">
    <span class="field_checkbox_content_title">No</span>
  </span>
</label>
<label class="field_radio checkbox_small checkbox_blue">
  <input type="radio" class="text" value="1" name="Do you have health insurance?">
  <span class="field_checkbox_content">
    <span class="field_checkbox_content_title">Not Sure</span>
  </span>
</label>

<br><br>

<label class="field_radio checkbox_green">
  <input type="radio" class="text" value="1" name="Do you like pizza?">
  <span class="field_checkbox_content">
    <span class="field_checkbox_content_title">Yes</span>
  </span>
</label>
<label class="field_radio checkbox_green">
  <input type="radio" class="text" value="1" name="Do you like pizza?">
  <span class="field_checkbox_content">
    <span class="field_checkbox_content_title">No</span>
  </span>
</label>
<label class="field_radio checkbox_green">
  <input type="radio" class="text" value="1" name="Do you like pizza?">
  <span class="field_checkbox_content">
    <span class="field_checkbox_content_title">Not Sure</span>
  </span>
</label>

<br><br>

<label class="field_radio checkbox_extra checkbox_red">
  <input type="radio" class="text" value="1" name="What do you need?">
  <span class="field_checkbox_content">
    <span class="field_checkbox_content_title">Yes</span>
    <span class="field_checkbox_content_text">Lorem ipsum dolor sit amet, consectetur <a href="#">adipisicing</a> elit, sed do eiusmod</span>
  </span>
</label>
<label class="field_radio checkbox_extra checkbox_red">
  <input type="radio" class="text" value="1" name="What do you need?">
  <span class="field_checkbox_content">
    <span class="field_checkbox_content_title">No</span>
    <span class="field_checkbox_content_text">Lorem ipsum dolor sit amet, consectetur <a href="#">adipisicing</a> elit, sed do eiusmod</span>
  </span>
</label>
<label class="field_radio checkbox_extra checkbox_red">
  <input type="radio" class="text" value="1" name="What do you need?">
  <span class="field_checkbox_content">
    <span class="field_checkbox_content_title">Not Sure</span>
    <span class="field_checkbox_content_text">Lorem ipsum dolor sit amet, consectetur <a href="#">adipisicing</a> elit, sed do eiusmod</span>
  </span>
</label>

<pre class="style-guide-code">
<span class="style-guide-code-comment">&lt;-- radio button --&gt;</span>
&lt;label class="field_radio"&gt;
&lt;input type="radio" class="text" value="1" name="NAME"&gt;
&lt;span class="field_checkbox_content"&gt;
  &lt;span class="field_checkbox_content_title"&gt;TEXT&lt;/span&gt;
&lt;/span&gt;
&lt;/label&gt;

<span class="style-guide-code-comment">&lt;-- radio button extra --&gt;</span>
&lt;label class="field_radio checkbox_extra checkbox_red"&gt;
&lt;input type="radio" class="text" value="1" name="NAME"&gt;
&lt;span class="field_checkbox_content"&gt;
  &lt;span class="field_checkbox_content_title"&gt;TEXT&lt;/span&gt;
  &lt;span class="field_checkbox_content_text"&gt;More text&lt;/span&gt;
&lt;/span&gt;
&lt;/label&gt;
</pre>