<section class="style-guide-section">
  <span class="style-guide-header">Colors</span>
  <p class="style-guide-explanation"></p>
</section>
<style>
  .style-guide-color-block {
    padding: 1em;
    height: 100px;
    border: 1px solid white;
  }
</style>
<div class="row">
  <div class="color-black block_3 style-guide-color-block"><code style="color: white;">.color-black</code></div>
  <div class="color-white block_3 style-guide-color-block"><code>.color-white</code></div>
  <div class="color-lightgray block_3 style-guide-color-block"><code>.color-lightgray</code></div>
  <div class="color-gray block_3 style-guide-color-block"><code>.color-gray</code></div>
  <div class="color-darkgray block_3 style-guide-color-block"><code>.color-darkgray</code></div>
  <div class="color-blue block_3 style-guide-color-block"><code>.color-blue</code></div>
  <div class="color-red block_3 style-guide-color-block"><code>.color-red</code></div>
  <div class="color-green block_3 style-guide-color-block"><code>.color-green</code></div>
  <div class="color-fuscia block_3 style-guide-color-block"><code>.color-fuscia</code></div>
  <div class="color-brightgreen block_3 style-guide-color-block"><code>.color-brightgreen</code></div>
</div>