<section class="style-guide-section">
  <span class="style-guide-header">Colors</span>
  <p class="style-guide-explanation"></p>
</section>
<style>
  .style-guide-color-block {
    padding: 1em;
    height: 100px;
    border: 1px solid white;
  }
</style>
<div class="row">
  <div class="color-white block_3 style-guide-color-block"><code>$white</code></div>
  <div class="color-lightgray block_3 style-guide-color-block"><code>$lightgray</code></div>
  <div class="color-medgray block_3 style-guide-color-block"><code>$medgray</code></div>
  <div class="color-gray block_3 style-guide-color-block"><code>$gray</code></div>
  <div class="color-darkgray block_3 style-guide-color-block"><code>$darkgray</code></div>
  <div class="color-black block_3 style-guide-color-block"><code style="color: white;">$black</code></div>
  <div class="color-blue block_3 style-guide-color-block"><code>$blue</code></div>
  <div class="color-red block_3 style-guide-color-block"><code>$red</code></div>
  <div class="color-green block_3 style-guide-color-block"><code>$green</code></div>
  <div class="color-yellow block_3 style-guide-color-block"><code>$yellow</code></div>
  <div class="color-brightgreen block_3 style-guide-color-block"><code>$brightgreen</code></div>
  <div class="color-blue-action block_3 style-guide-color-block"><code>$blue-action</code></div>
  <div class="color-green-action block_3 style-guide-color-block"><code>$green-action</code></div>
</div>