<section class="style-guide-section">
  <span class="style-guide-header">Lists</span>
  <p class="style-guide-explanation"></p>
</section>

<p><strong>Basic list</strong></p>
<ul class="list list_table">
  <li class="list_row">
    Something in a <code>.list_row</code>
  </li>
  <li class="list_row">
    Something in a <code>.list_row</code>
  </li>
  <li class="list_row">
    Something in a <code>.list_row</code>
  </li>
  <li class="list_row">
    Something in a <code>.list_row</code>
  </li>
  <li class="list_row">
    Something in a <code>.list_row</code>
  </li>  
</ul>
<pre class="style-guide-code">
&lt;ul class="list list_table"&gt;
&lt;li class="list_row"&gt;
  <span class="style-guide-code-comment">&lt;-- put anything here --&gt;</span>
&lt;/li&gt;
&lt;li class="list_row"&gt;
  <span class="style-guide-code-comment">&lt;-- put anything here --&gt;</span>
&lt;/li&gt;
&lt;li class="list_row"&gt;
  <span class="style-guide-code-comment">&lt;-- put anything here --&gt;</span>
&lt;/li&gt;
&lt;li class="list_row"&gt;
  <span class="style-guide-code-comment">&lt;-- put anything here --&gt;</span>
&lt;/li&gt;
&lt;li class="list_row"&gt;
  <span class="style-guide-code-comment">&lt;-- put anything here --&gt;</span>
&lt;/li&gt;  
&lt;/ul&gt;
</pre>

<p><strong>List with blocks</strong></p>
<ul class="list list_table">
  <li class="list_row">
    <span class="block_4" style="padding:10px;">This is within a <code>.block_4</code></span>
    <span class="block_8" style="padding:10px;">This more information within a <code>.block_8</code></span>
  </li>
  <li class="list_row">
    <span class="block_4" style="padding:10px;">This is within a <code>.block_4</code></span>
    <span class="block_8" style="padding:10px;">This more information within a <code>.block_8</code></span>
  </li>
  <li class="list_row">
    <span class="block_4" style="padding:10px;">This is within a <code>.block_4</code></span>
    <span class="block_8" style="padding:10px;">This more information within a <code>.block_8</code></span>
  </li>
  <li class="list_row">
    <span class="block_4" style="padding:10px;">This is within a <code>.block_4</code></span>
    <span class="block_8" style="padding:10px;">This more information within a <code>.block_8</code></span>
  </li>
  <li class="list_row">
    <span class="block_4" style="padding:10px;">This is within a <code>.block_4</code></span>
    <span class="block_8" style="padding:10px;">This more information within a <code>.block_8</code></span>
  </li>  
</ul>