<section class="style-guide-section">
  <span class="style-guide-header">Navigation</span>
  <p class="style-guide-explanation">The sidebar navigation item used on patient pages.</p>
</section>

<div class="row">
  <div class="block_3">
    <nav class="patientNav">
      <ul class="patientNav_list">
        <li class="patientNav_li"><a href="#"><i class="fa fa-user"></i>Eligibility Overview</a></li>
        <li class="patientNav_li"><a href="#"><i class="fa fa-pencil"></i>Patient Details</a>
          <ul class="patientNav_sublist">
            <li class="patientNav_subli"><a href="#">Household</a></li>
            <li class="patientNav_subli patientNav_subli_active"><a href="#">Docs</a></li>
            <li class="patientNav_subli"><a href="#">This is a sub list item</a></li>
            <li class="patientNav_subli"><a href="#">This is a sub list item</a></li>
          </ul>
        </li>
        <li class="patientNav_li"><a href="#"><i class="fa fa-paper-plane"></i>Review & Send</a></li>
        <li class="patientNav_li"><a href="#"><i class="fa fa-bars"></i>More</a></li>
      </ul>
    </nav>
  </div>

  <div class="block_9 block_padding">
    <div style="background: #f6f6f6; padding: 10px;">
      <h2>This is where the content goes</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus nisi tempore itaque dignissimos expedita deleniti provident beatae nulla consectetur quam perferendis facilis voluptas laborum, consequuntur accusantium saepe voluptatibus a natus.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus nisi tempore itaque dignissimos expedita deleniti provident beatae nulla consectetur quam perferendis facilis voluptas laborum, consequuntur accusantium saepe voluptatibus a natus.</p>
    </div>
  </div>
</div>