<section class="style-guide-section">
  <span class="style-guide-header">Notifications</span>
  <p class="style-guide-explanation">Notifications at the top of the patient page. They span the full width of their container.</p>
</section>

<div class="notification">
  
  <i class="fa fa-circle-o"></i>
  
  <strong>Applied to Daily Planet</strong> and was estimated within the <strong>nominal</strong> scale.<br>
  2 days ago from Bon Secours ED - <a href="#">See full history (includes Bon Secours, RCHD)</a><br>
  <a href="#" class="notification_right">Review</a><br>
  
</div>

<div class="notification notification_highlight">
  
  <i class="fa fa-clock-o"></i>
  
  <strong>Applied to Daily Planet</strong> and was estimated within the <strong>nominal</strong> scale.<br>
  2 days ago from Bon Secours ED - <a href="#">See full history (includes Bon Secours, RCHD)</a><br>
  <a href="#" class="notification_right">Review</a><br>
  
</div>

<div class="notification notification_info">
  
  <i class="fa fa-home"></i>
  
  <strong>Applied to Daily Planet</strong> and was estimated within the <strong>nominal</strong> scale.<br>
  2 days ago from Bon Secours ED - <a href="#">See full history (includes Bon Secours, RCHD)</a><br>
  <a href="#" class="notification_right">Review</a><br>
  
</div>

<div class="notification notification_error">
  
  <i class="fa fa-times"></i>
  
  <strong>Applied to Daily Planet</strong> and was estimated within the <strong>nominal</strong> scale.<br>
  2 days ago from Bon Secours ED - <a href="#">See full history (includes Bon Secours, RCHD)</a><br>
  <a href="#" class="notification_right">Review</a><br>
  
</div>

<div class="notification notification_success">
  
  <i class="fa fa-check"></i>
  
  <strong>Applied to Daily Planet</strong> and was estimated within the <strong>nominal</strong> scale.<br>
  2 days ago from Bon Secours ED - <a href="#">See full history (includes Bon Secours, RCHD)</a><br>
  <a href="#" class="notification_right">Review</a><br>
  
</div>
