<section class="style-guide-section">
  <span class="style-guide-header">Notifications</span>
  <p class="style-guide-explanation">Notifications at the top of the patient page. They span the full width of their container.</p>
</section>

<div class="notification">
  <div class="notification_left">
    <i class="fa fa-clock-o"></i>
  </div>
  <p><strong>Default <code>.notification</code> styles</strong><br>
  extra text<span><a href="#">a floating link</a></span></p>
  <a href="#" class="notification_right">
    <p>Review</p>
    <i class="fa fa-chevron-down"></i>
  </a>
</div>

<div class="notification notification_highlight">
  <div class="notification_left">
    <i class="fa fa-clock-o"></i>
  </div>
  <p><strong><code>.notification_highlight</code> Applied to Nominal (estimated) at Daily Planet</strong><br>
  2 days ago from Bon Secours ED<span><a href="#">See full history (includes Bon Secours, RCHD)</a></span></p>
  <a href="#" class="notification_right">
    <p>Review</p>
    <i class="fa fa-chevron-down"></i>
  </a>
</div>

<div class="notification notification_info">
  <div class="notification_left">
    <i class="fa fa-clock-o"></i>
  </div>
  <p><strong><code>.notification_info</code> Applied to Nominal (estimated) at Daily Planet</strong><br>
  2 days ago from Bon Secours ED<span><a href="#">See full history (includes Bon Secours, RCHD)</a></span></p>
  <a href="#" class="notification_right">
    <p>Review</p>
    <i class="fa fa-chevron-down"></i>
  </a>
</div>

<div class="notification notification_error">
  <div class="notification_left">
    <i class="fa fa-clock-o"></i>
  </div>
  <p><strong><code>.notification_error</code> Applied to Nominal (estimated) at Daily Planet</strong><br>
  2 days ago from Bon Secours ED<span><a href="#">See full history (includes Bon Secours, RCHD)</a></span></p>
  <a href="#" class="notification_right">
    <p>Review</p>
    <i class="fa fa-chevron-down"></i>
  </a>
</div>

<div class="notification notification_success">
  <div class="notification_left">
    <i class="fa fa-clock-o"></i>
  </div>
  <p><strong><code>.notification_success</code> Applied to Nominal (estimated) at Daily Planet</strong><br>
  2 days ago from Bon Secours ED<span><a href="#">See full history (includes Bon Secours, RCHD)</a></span></p>
  <a href="#" class="notification_right">
    <p>Review</p>
    <i class="fa fa-chevron-down"></i>
  </a>
</div>