<section class="style-guide-section">
  <span class="style-guide-header">Patient Profile Header</span>
  <p class="style-guide-explanation"></p>
</section>

<div class="row patientProfile">
  <div class="block_10">
    <h1 class="patient-name">Sam Matthews <span class="patient-star"><i class="fa fa-star-o"></i></span></h1>

    <div class="row patientProfile-block">
      <div class="block_3 patientProfile-infoblock">
        <span class="patient-descriptor">Birthday</span>
        <span class="patient-info">02/09/1989</span>
      </div>
      <div class="block_3 patientProfile-infoblock">
        <span class="patient-descriptor">Phone</span>
        <span class="patient-info">651-343-6555</span>
      </div>
      <div class="block_3 patientProfile-infoblock">
        <span class="patient-descriptor"><a href="#">see all contact info</a></span>
      </div>
    </div>

    <div class="row patientProfile-block">
      <div class="block_3 patientProfile-infoblock">
        <span class="patient-descriptor">Quickscreen ID</span>
        <span class="patient-info patient-info-small">123 456 2015</span>
      </div>
      <div class="block_3 patientProfile-infoblock">
        <span class="patient-descriptor">Medical Home</span>
        <span class="patient-info patient-info-small">Daily Planet</span>
      </div>
      <div class="block_6">
        <span class="patient-descriptor">Last edited by</span>
        <span class="patient-info patient-info-small"><a href="#">Emma Smithayer</a> at <a href="#">Code for America</a></span>
      </div>
    </div>
  </div>
  <div class="block_2 patientProfile-image">
    <img src="https://pbs.twimg.com/profile_images/624486804524134400/wsUPtgmI.jpg"
  </div>
</div>