<section class="style-guide-section">
  <span class="style-guide-header">Tooltips</span>
  <p class="style-guide-explanation">Tooltips are used to add extra information to an element in the page. This information should not be priority to the user in order to interact with the app properly!</p>
</section>
<style>
  .style-guide-tooltip {
    max-width: 400px;
    height: 100px;
    background: #f6f6f6;
    display: block;
    margin: auto;
    padding: 10px;
  }
</style>

<div class="tooltip tooltip_right style-guide-tooltip" value="Here's a tip - drink water."><code>.tooltip.tooltip_right</code></div><br>

<div class="tooltip tooltip_left style-guide-tooltip" value="How is your day going?"><code>.tooltip.tooltip_left</code></div><br>

<div class="tooltip tooltip_top style-guide-tooltip" value="Life's greatest treasure is hidden."><code>.tooltip.tooltip_top</code></div><br>

<div class="tooltip tooltip_bottom style-guide-tooltip" value="Arrrrr. Give me your gold dabloons!"><code>.tooltip.tooltip_bottom</code></div><br>

<pre class="style-guide-code">
<span class="style-guide-code-comment">&lt;!-- tooltip tooltip_right --&gt;</span>
&lt;div class="tooltip tooltip_right" value="Here's a tip - drink water."&gt;&lt;/div&gt;

<span class="style-guide-code-comment">&lt;!-- tooltip tooltip_left --&gt;</span>
&lt;div class="tooltip tooltip_left" value="How is your day going?"&gt;&lt;/div&gt;

<span class="style-guide-code-comment">&lt;!-- tooltip tooltip_top --&gt;</span>
&lt;div class="tooltip tooltip_top" value="Life's greatest treasure is hidden."&gt;&lt;/div&gt;

<span class="style-guide-code-comment">&lt;!-- tooltip tooltip_bottom --&gt;</span>
&lt;div class="tooltip tooltip_bottom" value="Arrrrr. Give me your gold dabloons!"&gt;&lt;/div&gt;</pre>
