<section class="style-guide-section">
  <span class="style-guide-header">Text, headings, links</span>
  <p class="style-guide-explanation"></p>
</section>

<h1>Header 1</h1>
<h2>Header 2</h2>
<h3>Header 3</h3>
<h4>Header 4</h4>
<h1><a href="">Header 1 with link</a></h1>
<h2><a href="">Header 2 with link</a></h2>
<h3><a href="">Header 3 with link</a></h3>
<h4><a href="">Header 4 with link</a></h4>
<p>Lorem ipsum dolor sit amet, <strong>strong text</strong> elit. Sed tincidunt semper diam non mattis. Nullam non facilisis ex, in sollicitudin turpis. Pellentesque in mattis ex, id porta dui. Suspendisse non accumsan risus. Duis consequat nunc lacinia arcu consequat, eu elementum purus congue. <a href="">Text with a link</a> vehicula blandit diam sit amet tristique. Duis hendrerit dui eros, a scelerisque lacus placerat ornare. Nam ultricies, nisi vitae commodo consectetur, ligula odio pellentesque justo, eu varius mauris ipsum lobortis erat. Nullam scelerisque imperdiet ipsum, et malesuada tellus convallis quis. Donec condimentum tempor urna id accumsan. Suspendisse tempor iaculis urna ut efficitur. Nulla auctor dolor in velit vulputate iaculis. Maecenas tincidunt erat quis rutrum eleifend.</p>