/* * * * * * * * 
**
** Alerts
**
** * * * * * * */
$alert-margin: 1em 0;
$alert-padding: 0.8em 1em;
$alert-border-radius: 0.3em;
$alert-font-size: 0.8em;
$alert-line-height: 2em;
$alert-before-margin-right: 5px;
$alert-label-font-weight: 700;
$alert-color-error: $red;
$alert-color-success: darken($blue, 15);

@mixin alert($color, $content) {
  border: 1px solid $color;
  background: lighten($color, 15);
  li {
    &:before {
      content: $content;
      color: $color;
    }
  }
}

// typically an unordered-list
.alert_list,
.login_container ul {
  @include list_reset();
  margin: $alert-margin;
  padding: $alert-padding;
  border-radius: $alert-border-radius;
  li {
    font-size: $alert-font-size;
    line-height: $alert-line-height;
    &:before {
      @extend %icon;
      margin-right: $alert-before-margin-right;
    }
    label {
      font-weight: $alert-label-font-weight;
      margin: 0;
    }
  }

  &.alert_error {
    @include alert($alert-color-error, "\f06a");
  }
  &.alert_success {
    @include alert($alert-color-success, "\f058");
  }
}

.login_container ul {
  @include alert($alert-color-error, "\f06a");
}