@mixin alert($color, $content) {
  border: 1px solid $color;
  background: lighten($color, 38);
  li {
    &:before {
      content: $content;
      color: $color;
    }
  }
}

// typically an unordered-list
.alert_list {
  @include list_reset();
  margin: $alert-margin;
  padding: $alert-padding;
  border-radius: $alert-border-radius;
  li {
    font-size: $alert-font-size;
    line-height: $alert-line-height;
    &:before {
      @extend %icon;
      margin-right: $alert-before-margin-right;
    }
    label {
      font-weight: $alert-label-font-weight;
      margin: 0;
    }
  }

  &.alert_error {
    @include alert($alert-color-error, "\f06a");
  }
  &.alert_success {
    @include alert($alert-color-success, "\f058");
  }
} 
