.box {
  background: #f6f6f6;
  position: relative;
  &.box_eligibile {
    // border-left: 5px solid #3D9970;
  }
  &.box_noteligibile {
    
  }
  &.box-referral-sent {
    
  }

  .box_title {
    padding: 1.5em 0.5em 0.5em;
    color: $box-title-text-color;
    font-size: 1.4em;
    font-weight: 300;
    &:hover {}
    .box_title_meta {
      float: right;
      font-size: $box-title-link-size;
      font-size: 0.7em;
    }
  }

  .box_content {
    padding: 1em;
    font-size: $box-content-font-size;
    line-height: $box-content-line-height;
  }

  .box_item {
    color: #999;
    padding: $box-service-padding;
    border-bottom: 1px solid #c0c0c0;
  }
  .box_item_price {
    float: right;
  }
}
$box-referral-color: #3D9970;

.box-referral {
  width: 100%;
  padding-right: 60px;
  position: relative;
  background: lighten(#aaaaaa, 25);
  padding: 10px;
  margin-top: 1em;
  cursor: pointer;
  &:hover {
    opacity: 0.8;
  }
  .box-referral-right {
    background: #aaaaaa;
    position: absolute;
    right: 0;
    width: 60px;
    top: 0;
    height: 100%;
    text-align: center;
    font-size: 2em;
    .fa {
      color: white;
      margin-top: 13px;
    }
  }

  &.box-referral-eligible {
    background: lighten($box-referral-color, 25);
    .box-referral-right {
      background: $box-referral-color;
    }
  }
  &.box-referral-active {
    background: lighten(#7FDBFF, 15);
    .box-referral-right {
      background: #7FDBFF;
    }
  }
}