.box {
  margin-bottom: 1em;
  .box_title {
    position: relative;
    font-size: 1.3em;
    font-weight: 300;
    font-family: $font-header;
    color: #555;
    background: $med-gray;
    border: 1px solid #e5e5e5;
    border-bottom: none;
    padding: 0.3em 0.8em;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
  }
  .box_content {
    background: white;
    padding: 1em;
    border: 1px solid #e5e5e5;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
  }
  .box_item {
    color: #999;
    padding: $box-service-padding;
    border-bottom: 1px solid #c0c0c0;
  }
  .box_item_price {
    float: right;
  }
}


// .box {
//   background: $white;
//   position: relative;
//   &.box_eligibile {
//     // border-left: 5px solid #3D9970;
//   }
//   &.box_noteligibile {
    
//   }
//   &.box-referral-sent {
    
//   }

//   .box_title {
//     padding: 1.5em 0.5em 0.5em;
//     color: $box-title-text-color;
//     font-size: 1.4em;
//     font-weight: 300;
//     &:hover {}
//     .box_title_meta {
//       float: right;
//       font-size: $box-title-link-size;
//       font-size: 0.7em;
//     }
//   }

//   .box_content {
//     padding: 1em;
//     font-size: $box-content-font-size;
//     line-height: $box-content-line-height;
//   }

//   
// }
$box-referral-color: #3D9970;

.box-referral {
  width: 100%;
  position: relative;
  background: lighten(#aaaaaa, 25);
  padding: 10px 175px 10px 10px;
  margin-top: 1em;
  cursor: pointer;
  min-height: 53px;
  font-size: 0.9em;
  line-height: 1.3em;
  &:hover {
    opacity: 0.8;
  }
  .box-referral-right {
    background: #aaaaaa;
    position: absolute;
    right: 0;
    top: 0;    
    height: 100%;
    font-size: 1.4em;
    width: 175px;
    color: white;
    padding-right: 35px;
    line-height: 0.8em;
    .fa {
      position: absolute;
      top: 10px;
      // margin-top: -10px;
      right: 10px;
    }
    span {
      font-size: 13px;
      display: block;
      margin: 10px 35px 10px 10px;
    }
  }

  &.box-referral-eligible {
    background: lighten(#7FDBFF, 10);
    .box-referral-right {
      background: #7FDBFF;
    }
  }
  &.box-referral-active,
  &.box-referral-sent {
    background: lighten(#FFDC00, 30);
    .box-referral-right {
      background: #FFDC00;
    }
  }
}