.notification {
  position: relative;
  margin-bottom: 1em;
  padding: 1em;
  padding-left: 55px;
  width: 100%;
  font-size: 1em;
  line-height: 1.5em;
  border-radius: 2px;
  color: #555;

  .fa {
    position: absolute;
    left: 15px;
    top: 12px;
    font-size: 2em;
  }

  @media (max-width: $break) {
    padding: 10px;
    padding-left: 50px;
    .fa {
      top: 10px;
      left: 10px;
      font-size: 2em;
    }
  }

  &.notification_success {
    background: $green;
    .fa {
      color: $text;
    }
  }
  &.notification_error {
    background: $red;
    .fa {
      color: $text;
    }
  }
  &.notification_info {
    background: $blue;
    .fa {
      color: $text;
    }
  }
  &.notification_highlight {
    background: $yellow;
    .fa {
      color: $text;
    }
  }
}