.footer {
  padding: 1em;
  margin-top: 2em;
  background: $white;
  text-align: center;
  p {
    font-size: 0.8em;
    color: $med-gray;
    a {
      color: inherit;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}