body {
  padding: 0; margin: 0;
  overflow-x: hidden; // remove this!
  font-family: $font-main;
  // font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-header;
}

a {
  text-decoration: none;
}

button,
input,
textarea,
select,
option {
  font-family: $font-main;
}

img {
  max-width: 100%;
  height: auto;
}