$tooltip-background-color: rgba(0, 0, 0, 0.8);
$tooltip-border-radius: 2px;
$tooltip-font-size: 12px;
$tooltip-text-color: $color-white;
$tooltip-padding: ($tooltip-font-size - 5px) ($tooltip-font-size - 2px);
$tooltip-z-index: 10;

$tooltip-arrow-size: $tooltip-font-size / 2;
$tooltip-arrow-color: $tooltip-background-color;
$tooltip-arrow: $tooltip-arrow-size solid $tooltip-arrow-color;
$tooltip-arrow-trans: $tooltip-arrow-size solid transparent;

$tooltip-lr-horizontal: 105%;
$tooltip-lr-margin-box: -$tooltip-font-size + ($tooltip-font-size - 5px * 2);
$tooltip-lr-margin-arrow: $tooltip-arrow-size - 2px;
$tooltip-lr-vertical: 50%;
$tooltip-tb-zero: 0;
$tooltip-tb-margin-arrow: -11px;
$tooltip-tb-margin-box: -40px;

.tooltip {
  position: relative;

  // general styles
  &:hover {
    &:before {
      position: absolute;
      border-radius: $tooltip-border-radius;
      content: attr(value);
      font-size: $tooltip-font-size;
      color: $tooltip-text-color;
      padding: $tooltip-padding;
      background-color: $tooltip-background-color;
      z-index: $tooltip-z-index;
      white-space: nowrap;
    }
    &:after {
      position: absolute;
      content: " ";
      z-index: $tooltip-z-index;
    }
  }

  // left / right
  &.tooltip_right,
  &.tooltip_left {
    &:hover {
      &:before {
        top: $tooltip-lr-vertical;
        margin-top: $tooltip-lr-margin-box;
      }
      &:after {
        top: $tooltip-lr-vertical;
        margin-top: -2px;
        border-top: $tooltip-arrow-trans;
        border-bottom: $tooltip-arrow-trans;
      }
    }
  }
  &.tooltip_right {
    &:hover {
      &:before {
        left: $tooltip-lr-horizontal;
      }
      &:after {
        left: $tooltip-lr-horizontal;
        margin-left: -$tooltip-arrow-size;
        border-right: $tooltip-arrow;
      }
    }
  }
  &.tooltip_left {
    &:hover {
      &:before {
        right: $tooltip-lr-horizontal;
      }
      &:after {
        right: $tooltip-lr-horizontal;
        margin-right: -$tooltip-arrow-size;
        border-left: $tooltip-arrow;
      }
    }
  }

  // top / bottom
  &.tooltip_top,
  &.tooltip_bottom {
    &:hover {
      &:before {
        left: $tooltip-tb-zero;
      }
      &:after {
        border-right: $tooltip-arrow-trans;
        border-left: $tooltip-arrow-trans;
      }
    }
  }
  &.tooltip_top {
    &:hover {
      &:before {
        top: $tooltip-tb-zero;
        margin-top: $tooltip-tb-margin-box;
      }
      &:after {
        top: $tooltip-tb-zero;
        left: $tooltip-arrow-size;
        margin-top: $tooltip-tb-margin-arrow;
        border-top: $tooltip-arrow;
      }
    }
  }
  &.tooltip_bottom {
    &:hover {
      &:before {
        bottom: $tooltip-tb-zero;
        margin-bottom: $tooltip-tb-margin-box;
      }
      &:after {
        bottom: $tooltip-tb-zero;
        left: $tooltip-arrow-size;
        margin-bottom: $tooltip-tb-margin-arrow;
        border-bottom: $tooltip-arrow;
      }
    }
  }
}