<!--form for a single address-->
<div class="form-row">

  {% if address %}
    <input class="hidden" value="{{address.id}}" name="address_id">
  {% endif %}

    <div class="form-group address_description">
      <label for="address_description">What kind of address is this?</label>
      <input type="text" class="form-control" description="address_description" name="address_description"
      {% if address %} value="{{address.description}}"{% endif %}>
    </div>

    <div class="form-group address1">
      <label for="address1">Street Address</label>
      <textarea id="address1" name="address1" class="form-control">{% if address %}{{address.address1}}{% endif %}</textarea>
    </div>

    <input class="hidden" name="address2">

    <div class="form-group city">
      <label for="city">City</label>
      <input type="text" class="form-control" description="city" name="city"
      {% if address %} value="{{address.city}}"{% endif %}>
    </div>

    <div class="form-group state">
      <label for="state">State</label>
      {% include "includes/state_select.html" %}
    </div>

    <div class="form-group zip">
      <label for="zip">ZIP</label>
      <input type="text" class="form-control" description="zip" name="zip"
      placeholder="00000" 
      {% if address %} value="{{address.zip}}"{% endif %}>
    </div>

</div>



