<head>
  <title>RVA Screener</title>
  <meta name="viewport" content="width=device-width" charset="utf-8">

  <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{{ static_url }}img/favicon/apple-touch-icon-57x57.png" />
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ static_url }}img/favicon/apple-touch-icon-114x114.png" />
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ static_url }}img/favicon/apple-touch-icon-72x72.png" />
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ static_url }}img/favicon/apple-touch-icon-144x144.png" />
  <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{ static_url }}img/favicon/apple-touch-icon-120x120.png" />
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ static_url }}img/favicon/apple-touch-icon-152x152.png" />
  <link rel="icon" type="image/png" href="{{ static_url }}img/favicon/favicon-32x32.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="{{ static_url }}img/favicon/favicon-16x16.png" sizes="16x16" />
  <meta name="application-name" content="Quickscreen RVA"/>
  <meta name="msapplication-TileColor" content="#FFFFFF" />
  <meta name="msapplication-TileImage" content="{{ static_url }}img/favicon/mstile-144x144.png" />

  <link href="{{ static_url }}css/vendor.css" rel="stylesheet">
  <link href="{{ static_url }}css/main.css" rel="stylesheet">
</head>
