  {% if not patient or not patient.household_members.count() %}
<div class="form-list-item hidden">
  {% else %}
<div class="form-list-item">
  {% endif %}

  {% if member %}
    <input class="hidden" value="{{member.id}}" name="household_member_id">
  {% endif %}

      <div class="form-group household_member_relation">
        <label for="household_member_relation">Relation to patient</label>
        <input class="form-control" type="text" name="household_member_relation" id="household_member_relation" 
        {% if member %}
        value="{{member.relationship}}" 
        {% endif %}>
      </div>

      <div class="form-group">
        <label for="household_member_full_name">Full Legal Name</label>
        <input class="form-control" type="text" name="household_member_full_name" id="household_member_full_name" 
          {% if member %}
          value="{{member.full_name}}" 
          {% endif %}>
      </div>

      <input class="hidden" name="household_member_ssn">

      <div class="form-group household_member_dob">
        <label for="household_member_dob">Date of Birth</label>
        <input class="form-control" type="date" name="household_member_dob" id="household_member_dob" 
          {% if member %}
          value="{{member.dob}}" 
          {% endif %}>
      </div>

</div>


