<nav class="nav" id="nav">
  <div class="nav_logo"><a href="{{ url_for('screener.index') }}"><img src="{{ static_url }}img/quickscreen-logo-red.png"></a></div>
  <div class="nav_menu">
    <ul class="nav_menu_list">
      {% if current_user.is_authenticated() %}
        {% if not current_user.is_patient_user() %}
          <li class="menu_list_item {% if request.path == url_for('screener.index') %}menu_list_item_current{% endif %}"><a href="{{ url_for('screener.index') }}"><i class="fa fa-home"></i> {{ _("Home") }}</a></li>
        {% endif %}
        <li class="menu_list_item {% if request.path == url_for('screener.new_prescreening') %}menu_list_item_current{% endif %}"><a href="{{ url_for('screener.new_prescreening') }}"><i class="fa fa-pencil"></i> {{ _("Pre-Screener") }}</a></li>
      {% endif %}
    </ul>
  </div>
  
  <div class="nav_user">
    {% if current_user.is_authenticated() %}
    <a href="#" class="nav_user_profile">{{current_user.full_name}}</a> / <a href="{{ url_for_security('logout') }}">{{ _("Logout") }}</a>
    {% else %}
    <a href="{{ url_for_security('login') }}">{{ _("Login") }} <i class="fa fa-unlock-alt"></i></a>
    {% endif %}
  </div>
  
</nav>

<button class="button_nav" id="nav_button"></button>