<nav class="nav cf" id="nav">
  <div class="nav_logo">SCREENER</div>
  <div class="nav_menu">
    <ul class="nav_menu_list">
      <li class="menu_list_item"><a href="#">Prescreen</a></li>
      <li class="menu_list_item"><a href="#">View Your Patients</a></li>
      <li class="menu_list_item"><a href="#">Find Patient In Your Network</a></li>
      <li class="menu_list_item"><a href="#">Create Patient</a></li>
    </ul>
  </div>
  <div class="nav_user">
    <a href="#" class="nav_user_profile">sam</a> / <a href="#">logout</a>
  </div>
</nav>

<button class="button button_nav" id="nav_button"><i class="fa fa-ellipsis-v"></i></button>