{% from "form_field_macros.html" import render_field %}

<p class="form_multiform_title">{{ _("Phone Numbers") }}</p>

<div class="form_multiform_wrapper">

  {% for entry in form.phone_numbers %}
  <div class="form_multiform form_multiform_read">
    <div class="multiform_content">
      <div class="multiform_content_fields">
          {{ render_field(entry.phone_number
          ) }}
          {{ render_field(entry.number_description) }}
      </div>
      <div class="multiform_content_readonly">
        <span class="multiform_item">{{ entry.phone_number.data }}</span><br>
        <span class="multiform_item multiform_item_description">{{ entry.number_description.data }}</span>
      </div>
    </div>
    {% include "includes/multiform_controls.html" %}
  </div>
  {% endfor %}

  {% with %}
    {% set entry = form.phone_numbers.append_entry() %}
  <div class="form_multiform form_multiform_new" id="multiform_phone_numbers">
    <div class="multiform_content">
      <div class="multiform_content_fields">
        <div class="row">
          {{ render_field(entry.phone_number, 
                          class="block_3"
          ) }}
          {{ render_field(entry.number_description,
                          class="block_9"
          ) }}
        </div>
      </div>
    </div>
  </div>
  {% endwith %}

</div>

<button data-clone-id="multiform_phone_numbers" class="button button_red button_small multiform_control_add">Add new phone number <i class="fa fa-plus"></i></button>
<div class="cf"></div>