<h5>
  Phone Numbers
  <span class="glyphicon glyphicon-phone" aria-hidden="true"></span> 
  /
  <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
</h5>

<table class="table table-condensed phone_numbers">

  <thead>
    <tr>
      <th>Number</th>
      <th>Name</th>
    </tr>
  </thead>

  {% if page.patient.main_phone %}
  <tr class="main_phone phone_number">
    <td class="phone_number_number">
      <input type="tel" class="form-control" value="{{page.patient.main_phone.number}}" name="main_phone_number" id="main_phone_number"/>
    </td>
    <td class="phone_number_name">
      <input type="text" class="form-control" value="{{page.patient.main_phone.name}}" name="main_phone_name" id="main_phone_name"/>
    </td>
  </tr>
  {% endif %}

  {% if page.patient.phone_numbers %}
  {% for phone in page.patient.phone_numbers %}
  <tr class="phone_number">
    <td class="phone_number_number">
      <input class="form-control" type="tel" value="{{phone.number}}" name="phone_number_{{forloop.index}}" id="phone_number_{{forloop.index}}"/>
    </td>
    <td class="phone_number_name">
      <input class="form-control" type="text" value="{{phone.name}}" name="phone_name_{{forloop.index}}" id="phone_name_{{forloop.index}}"/>
    </td>
  </tr>
  {% endfor %}
  {% endif %}

</table>

    <div class="form-group add_phone_number">
        <button type="button" class="btn btn-primary">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
          Add a phone number
        </button>
    </div>



