<input type="hidden" id="patient_id" value="{{ patient.id }}">
<nav class="nav_tabs">

  <div class="tabs">
    <a class="tab {% if request.path == url_for('screener.patient_details', id=patient.id) %}tab_active{% endif %}" href="{{ url_for('screener.patient_details', id=patient.id) }}"><i class="fa fa-user"></i> {{ _("Details") }}</a>

    <a class="tab {% if request.path == url_for('screener.patient_share', patient_id=patient.id) %}tab_active{% endif %}" href="{{ url_for('screener.patient_share', patient_id=patient.id) }}"><i class="fa fa-share"></i> {{ _("Share Patient") }}</a>

    <a class="tab {% if request.path == url_for('screener.patient_screening_history', patient_id=patient.id) %}tab_active{% endif %}" href="{{ url_for('screener.patient_screening_history', patient_id=patient.id) }}"><i class="fa fa-list"></i> {{ _("Screening History") }}</a>

    <a class="tab {% if request.path == url_for('screener.patient_history', patient_id=patient.id) %}tab_active{% endif %}" href="{{ url_for('screener.patient_history', patient_id=patient.id) }}"><i class="fa fa-history"></i> {{ _("Edit History") }}</a>
  </div>

  <select class="tabs_dropdown" onchange="location = this.options[this.selectedIndex].value;">
    <option value="{{ request.path }}">{{ _("Select an action...") }}</option>
    <option value="{{ url_for('screener.patient_details', id=patient.id) }}">{{ _("Details") }}</option>
    <option value="{{ url_for('screener.patient_share', patient_id=patient.id) }}">{{ _("Share Patient") }}</option>
    <option value="{{ url_for('screener.patient_screening_history', patient_id=patient.id) }}">{{ _("Screening History") }}</option>
    <option value="{{ url_for('screener.patient_history', patient_id=patient.id) }}">{{ _("Edit History") }}</option>
  </select>
  
</nav>