{% from "form_field_macros.html" import render_field %}

<div class="form_multiform_wrapper">
  <p class="form_multiform_title">{{ _("Addresses") }}</p>

  {% for entry in form.addresses %}
  <div class="form_multiform form_multiform_read">
    
    <div class="multiform_content">
      <div class="multiform_content_fields">
        <div class="form_row">
          {{ render_field(entry.address1, class="field_half") }}
          {{ render_field(entry.address2, class="field_half") }}
        </div>
        <div class="form_row">
          {{ render_field(entry.city, class="field_third") }}
          {{ render_field(entry.state, class="field_sixth field_pad") }}
          {{ render_field(entry.zip_code, class="field_quarter") }}
        </div>
        {{ render_field(entry.address_description) }}
      </div>

      <div class="multiform_content_readonly">
        <span class="multiform_item">{{ entry.address1.data }}</span>, <span class="multiform_item">{{ entry.address2.data }}</span><br>
        <span class="multiform_item">{{ entry.city.data }}</span>, <span class="multiform_item">{{ entry.state.data }}</span> <span class="multiform_item">{{ entry.zip_code.data }}</span><br>
        <span class="multiform_item multiform_item_description">{{ entry.address_description.data }}</span>
      </div>
    </div>
    
    {% include "includes/multiform_controls.html" %}
  </div>
  {% endfor %}

  {% with %}
    {% set entry = form.addresses.append_entry() %}
  <div class="form_multiform form_multiform_copy" id="multiform_address">
    <div class="multiform_content">
      <div class="multiform_content_fields">
        <div class="form_row">
          {{ render_field(entry.address1, class="field_half") }}
          {{ render_field(entry.address2, class="field_half") }}
          
        </div>
        <div class="form_row">
          {{ render_field(entry.city, class="field_third") }}
          {{ render_field(entry.state, class="field_sixth field_pad") }}
          {{ render_field(entry.zip_code, class="field_sixth field_pad_right") }}
          {{ render_field(entry.address_description, class="field_third") }}
        </div>
      </div>
    </div>    
  </div>
  {% endwith %} 

  <button data-clone-id="multiform_address" class="form_multiform form_multiform_add multiform_control_add">
    <div class="multiform_content">
      <div class="multiform_content_readonly">
        <span class="multiform_item multiform_item_description">&nbsp;</span><br>
        <span class="multiform_item"><strong>Add a new address</strong></span><br>
        <span class="multiform_item multiform_item_description">&nbsp;</span><br>
      </div>
    </div>
    <div class="multiform_controls">
      <i class="fa fa-plus"></i>
    </div>
  </button>

</div>


<div class="cf"></div>
