<div class="form-group q_an">
  <label>{{ _("How long have you lived in the Greater Richmond Area?") }} </label>

  {{ form.years_living_in_area.label }}
  {{ form.years_living_in_area(class="form-control") }}

  {{ form.months_living_in_area.label }}
  {{ form.months_living_in_area(class="form-control") }}

</div>

<div class="form-group q_an">
  {{ form.city_or_county_of_residence.label }}
  {{ form.city_or_county_of_residence(class="form-control") }}
</div>

<div class="form-group q_an">
  {{ form.temp_visa_yn.label }}
  {{ form.temp_visa_yn(class="form-control") }}
</div>
