  <div class="form-group language">
    <label for="language">Language</label>
    <select class="form-control has_other" name="languages">
      {% with  %}
      {% set default_choice=("", "") %}
      {% set choices=[("EN", "English"), ("ES", "Spanish"), ("AR", "Arabic"), ("other", "Other")] %}
      {% set test_value=patient.languages %}
      {% include "includes/choices.html" %}
      {% endwith %}
    </select>
  </div>

  <div class="form-group {% if not patient.language == "Other" %} hidden{% endif %}">
    <label for="language_other">Please specify other language</label>
    <input type="text" class="form-control" name="language_other" id="language_other">
  </div>
