<div class="patient_gender_trans_group">

  <div class="form-group gender">
    <label for="gender">Gender</label>
    <select class="form-control" name="gender">
      {% with %}
      {% set default_choice=("", "No Answer") %}
      {% set choices=[("F", "Female"), ("M", "Male")] %}
      {% set test_value=patient.gender %}
      {% include "includes/choices.html" %}
      {% endwith %}
    </select>
  </div>

  <div class="form-group transgender">
    <label for="transgender">Transgender</label>
    <select class="form-control" name="transgender">
      {% with %}
      {% set default_choice=("", "No Answer") %}
      {% set choices=[("FTM", "Female to Male"), ("MTF", "Male to Female")] %}
      {% set test_value=patient.gender %}
      {% include "includes/choices.html" %}
      {% endwith %}
    </select>
  </div>
</div>

