{% from "form_field_macros.html" import render_field %}

<div class="form_multiform_wrapper">
  <p class="form_multiform_title">{{ _("Addresses") }}</p>

  {% for entry in form.addresses %}
    <div class="form_multiform form_multiform_read">
      
      <div class="multiform_content">
        <div class="multiform_content_fields">
          <div class="form_row">
            {{ render_field(entry.address1, class="field_half") }}
            {{ render_field(entry.address2, class="field_half") }}
          </div>
          <div class="form_row">
            {{ render_field(entry.city, class="field_third") }}
            {{ render_field(entry.state, class="field_sixth field_pad") }}
            {{ render_field(entry.zip_code, class="field_quarter field_pad_right") }}
            {{ render_field(entry.address_description, class="field_quarter") }}
          </div>
          
          <div class="form_row">
            {{ render_field(entry.address_description_other, class="field_half field_float_right") }}
          </div>
        </div>

        <div class="multiform_content_readonly row">
          <span class="multiform_item block_3">{{ entry.address1.data }} {{ entry.address2.data }}</span>
          <span class="multiform_item block_3">{{ entry.city.data }}, {{ entry.state.data }}</span>
          <span class="multiform_item block_3">{{ entry.zip_code.data }}</span>
          <span class="multiform_item block_3 multiform_item_description">{{ entry.address_description.data }} {% if entry.address_description_other.data %} ({{ entry.address_description_other.data }}){% endif %}</span>
        </div>
      </div>
      
      {% include "includes/multiform_controls.html" %}
    </div>
  {% endfor %}

  {% with %}
    {% set entry = form.addresses.append_entry() %}
    <div class="form_multiform form_multiform_copy" id="multiform_address">
      <div class="multiform_content">
        <div class="multiform_content_fields">
          <div class="form_row">
            {{ render_field(entry.address1, class="field_half") }}
            {{ render_field(entry.address2, class="field_half") }}
            
          </div>
          <div class="form_row">
            {{ render_field(entry.city, class="field_third") }}
            {{ render_field(entry.state, class="field_sixth field_pad") }}
            {{ render_field(entry.zip_code, class="field_quarter field_pad_right") }}
            {{ render_field(entry.address_description, class="field_quarter") }}
          </div>
          <div class="form_row">
            {{ render_field(entry.address_description_other, class="field_half field_float_right") }}
          </div>
        </div>
      </div>    
    </div>
  {% endwith %} 

  <button data-clone-id="multiform_address" class="form_multiform form_multiform_add multiform_control_add">
    <div class="multiform_content">
      <div class="multiform_content_readonly">
        <span class="multiform_item"><strong>Add a new address</strong> <i class="fa fa-plus"></i></span><br>
      </div>
    </div>
  </button>

</div>


<div class="cf"></div>
