<div class="name_group">

  <div class="form-group full_name">
    <label for="full_name">Full Legal Name</label>
    <input type="text" class="form-control" name="full_name" id="full_name" {% if patient.full_name %}value="{{patient.full_name}}"{% endif %}>
  </div>

  <div class="form-group firstname">
    <label for="firstname">First Name</label>
    <input type="text" class="form-control" name="firstname" id="firstname" {% if patient.firstname %}value="{{patient.firstname}}"{% endif %}>
  </div>

  <div class="form-group mi">
    <label for="mi">MI</label>
    <input type="text" class="form-control" name="mi" id="mi" {% if patient.mi %}value="{{patient.mi}}"{% endif %}>
  </div>

  <div class="form-group lastname">
    <label for="lastname">Last Name</label>
    <input type="text" class="form-control" name="lastname" id="lastname" {% if patient.lastname %}value="{{patient.lastname}}"{% endif %}>
  </div>
</div>

