{% from "form_field_macros.html" import render_field %}

<h1>
  {{ _("Addresses") }}
</h1>

<!-- multiform testing -->
<div class="form_multiform_wrapper">

  <!-- loop through each address and add a .form_multiform -->
  {% for entry in form.addresses %}
  <div class="form_multiform form_multiform_read">
    
    <div class="multiform_content">
      
      <div class="multiform_content_fields">
        <div class="form_row">
          {{ render_field(entry.address1) }}
          {{ render_field(entry.address2) }}
        </div>

        <div class="form_row">
          {{ render_field(entry.city) }}
          {{ render_field(entry.state) }}
          {{ render_field(entry.zip_code) }}
        </div>
        
        {{ render_field(entry.address_description) }}
      </div>

      <div class="multiform_content_readonly">
        <span class="multiform_item">{{ entry.address1.data }}</span>, <span class="multiform_item">{{ entry.address2.data }}</span><br>
        <span class="multiform_item">{{ entry.city.data }}</span>, <span class="multiform_item">{{ entry.state.data }}</span> <span class="multiform_item" value="55115">{{ entry.zip_code.data }}</span><br>
        <span class="multiform_item multiform_item_description" value="This is the description of the address">{{ entry.address_description.data }}</span>
      </div>
      
    </div>
    
    <div class="multiform_controls">
      <button type="button" class="button button_brightgreen button_inverse multiform_control multiform_control_edit"><i class="fa fa-pencil"></i></button>
      <button type="button" class="button button_red button_inverse multiform_control multiform_control_remove"><i class="fa fa-trash"></i></button>
    </div>
  </div>
  {% endfor %}
  <!-- end address loop -->

  <!-- now add the new form -->
  <div class="form_multiform form_multiform_new" id="multiform_address">
    
    <div class="multiform_content">
      
      <div class="multiform_content_fields">

      </div>
      
    </div>
    
    <div class="multiform_controls">
      <button type="button" class="button button_brightgreen button_inverse multiform_control multiform_control_edit"><i class="fa fa-pencil"></i></button>
      <button type="button" class="button button_red button_inverse multiform_control multiform_control_remove"><i class="fa fa-trash"></i></button>
    </div>
  </div>
  <!-- the end of the new form -->

  <!-- new form button -->
  <div class="form_multiform form_multiform_add">
    
    <div class="multiform_content">
      <button data-clone-id="multiform_address" class="button button_blue multiform_control_add"><i class="fa fa-plus"></i> Add a new address</button>
    </div>
    
  </div>
  <!-- end the add new form button -->
  
</div>

<table class="table table-condensed addresses" id="address_table">

  <thead>
    <tr>
      <th>{{ _("Address") }}</th>
      <th>{{ _("Description") }}</th>
      <th>{{ _("Edit") }}</th>
      <th>{{ _("Delete") }}</th>
    </tr>
  </thead>

  {% for entry in form.addresses %}
    <tr class="address">
      <td class="address_address">
        <address class="read-only">
          {{ entry.address1.data }}, {{ entry.address2.data }}<br>
          {{ entry.city.data }}, {{ entry.state.data }} {{ entry.zip_code.data }}
        </address>
        <div class="hidden-input">
          {{ entry.address1.label }}: {{ entry.address1(class="form-control hidden-input") }}
          {{ entry.address2(class="form-control hidden-input") }}
          {{ entry.city.label}}: {{entry.city(class="form-control hidden-input") }}
          {{ entry.state.label}}: {{entry.state(class="form-control hidden-input") }}
          {{ entry.zip_code.label}}: {{entry.zip_code(class="form-control hidden-input") }}
        </div>
      </td>
      <td>
        <div class="read-only">
          {{ entry.address_description.data }}
        </div>
        {{ entry.address_description(class="form-control hidden-input") }}
      </td>
      <td class="address_edit">      
        <i class="fa fa-pencil" onclick="showHiddenFields()"></i>
      </td>
      <td class="address_delete">
        <i class="fa fa-trash" onclick="hideRow()"></i>
      </td>
    </tr>
  {% endfor %}

  {% with %}
    {% set entry = form.addresses.append_entry() %}
    <tr class="address">
      <td class="address_address">
        {{ entry.address1.label }}: {{ entry.address1(class="form-control") }}
        {{ entry.address2(class="form-control") }}
        {{ entry.city.label}}: {{entry.city(class="form-control") }}
        {{ entry.state.label}}: {{entry.state(class="form-control") }}
        {{ entry.zip_code.label}}: {{entry.zip_code(class="form-control") }}
      </td>
      <td>
        {{ entry.address_description(class="form-control") }}
      </td>
    </tr>
  {% endwith %}

</table>

<div class="form-group add_address">
  <button
    type="button"
    class="btn btn-primary"
    onclick="addNewInputRow($('#address_table'), $('.address').last())"
  >
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    {{ _("Add an address") }}
  </button>
</div>

