<div class="patient_profile">

  <img class="patient-image img-responsive" src="http://wanna.work/images/default-avatar.jpg">
  
  <h2>{{ patient.first_name or "" }} {{ patient.last_name or "" }}</h2>

  <div class="overview_patient">
    
    {% if patient.dob %}
    <div class="overview_patient_item tooltip tooltip_top" value="Date of birth">
      <h2><i class="fa fa-birthday-cake"></i> {{ patient.dob.strftime('%m/%d/%Y') }}</h2>
    </div>
    {% endif %}

    {% if patient.fpl_percentage %}
    <div class="overview_patient_item tooltip tooltip_top" value="Estimated FPL">
      <h2><i class="fa">%</i> {{ '%0.2f'| format(patient.fpl_percentage|float) }}</h2>
    </div>
    {% endif %}

    {% if patient.total_annual_income %}
    <div class="overview_patient_item tooltip tooltip_top" value="Estimated monthly income">
      <h2><i class="fa fa-usd"></i> {{(patient.total_annual_income / 12) | int}}/{{ _("month") }}</h2>
    </div>
    {% endif %}

    {% if patient.household_members %}
    <div class="overview_patient_item tooltip tooltip_top" value="Household size">
      <h2><i class="fa fa-users"></i> {{ patient.household_members.count() + 1 }}</h2>
    </div>
    {% endif %}
    
    {% if patient.document_images %}
    <div class="overview_patient_item tooltip tooltip_top" value="Document uploads">
      <h2><i class="fa fa-file-text"></i> {{patient.document_images.count()}}</h2>
    </div>
    {% endif %}

    <div class="overview_patient_item">
      <p>{{ _('Household size') }}</p>
      <h2>waka</h2>
    </div>
    <div class="overview_patient_item">
      <p>{{ _('Has insurance') }}</p>
      <h2>waka</h2>
    </div>
    <div class="overview_patient_item">
      <p>{{ _('Eligible for Medicaid') }}</p>
      <h2>waka</h2>
    </div>
  </div>
  <br>
  <a class="button button_red button_inverse delete-patient button_small" href="{{ url_for('screener.delete', id=patient.id) }}">
    <i class="fa fa-folder-o"></i>
    {{ _("Archive Patient") }}
  </a>

</div>
