<h4>Household Income: 
  {% if patient.total_annual_income %}
    ${{(patient.total_annual_income / 12) | int}}/month
  {% endif %}
</h4>

<table class="table table-condensed income_sources" id="income_source_table">

  <thead>
    <tr>
      <th>Source</th>
      <th>$/mo.</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>

  {% if patient.income_sources %}
    {% for source in patient.income_sources %}
      <tr class="income_source">
        <td class="income_source_type">
          <input class="hidden" value="{{source.id}}" name="income_source_id">
          <div class="read-only">{{source.source}}</div>
          <input class="form-control hidden-input" type="text" name="income_source_source" value="{{source.source}}"/>
        </td>
        <td class="income_source_amount">
          <div class="read-only">${{(source.annual_amount / 12) | int}}</div>
          <input class="form-control hidden-input" type="text" name="income_source_amount" value="{{(source.annual_amount / 12) | int}}"/>
        </td>
        <td class="income_source_edit">
          <span
            class="glyphicon glyphicon-pencil"
            aria-hidden="true"
            onclick="showHiddenFields()"
          ></span>
        </td>
        <td class="income_source_delete">
          <span
            class="glyphicon glyphicon-remove"
            aria-hidden="true"
            onclick="hideRow()"
          ></span>
        </td>
      </tr>
    {% endfor %}
  {% endif %}

  <tr class="income_source" id="income_source_input">
    <td class="income_source_type">
      <input class="form-control" type="text" name="income_source_source"/>
    </td>
    <td class="income_source_amount">
      <input class="form-control" type="text" name="income_source_amount"/>
    </td>
    <td class="income_source_edit"></td>
  </tr>

</table>

<div class="form-group add_income_source">
    <button
      type="button"
      class="btn btn-primary"
      onclick="addNewInputRow($('#income_source_table'), $('#income_source_input'))"
    >
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
      Add a source of income
    </button>
</div>



