<h5>
  {{ _("Phone Numbers") }}
</h5>

<table class="table table-condensed phone_numbers" id="phone_number_table">

  <thead>
    <tr>
      <th>{{ _("Number") }}</th>
      <th>{{ _("Description") }}</th>
    </tr>
  </thead>

  {% for entry in form.phone_numbers %}
    <tr class="phone_number">
      <td class="phone_number_number">
        {{ entry.phone_number(
          class="form-control",
          placeholder="(555) 555-5555",
          pattern="\(\d{3}\) ?\d{3}-?\d{4}"
        ) }}
      </td>
      <td class="phone_number_name">
        {{ entry.number_description(class="form-control")}}
      </td>
    </tr> 
  {% endfor %}

</table>

<div class="form-group add_phone_number">
    <button
      type="button"
      class="btn btn-primary"
      onclick="addNewInputRow($('#phone_number_table'), $('.phone_number').last())"
    >
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
      {{ _("Add a phone number") }}
    </button>
</div>
