<h4>Employment Info</h4>


<div class="form-group">
  <label for="employment_status">Employment Status</label>
  <select class="form-control" name="employment_status">
    <option value=""{% if not patient.employment_status %} selected{% endif %}></option>
    <option value="Full-time"{% if patient.employment_status == "Full-time" %} selected{% endif %}>Full-time</option>
    <option value="Part-time"{% if patient.employment_status == "Part-time" %} selected{% endif %}>Part-time</option>
    <option value="Seasonal"{% if patient.employment_status == "Seasonal" %} selected{% endif %}>Seasonal</option>
    <option value="Disabled"{% if patient.employment_status == "Disabled" %} selected{% endif %}>Disabled</option>
    <option value="Retired"{% if patient.employment_status == "Retired" %} selected{% endif %}>Retired</option>
    <option value="Dependent"{% if patient.employment_status == "Dependent" %} selected{% endif %}>Dependent</option>
    <option value="Unemployed"{% if patient.employment_status == "Unemployed" %} selected{% endif %}>Unemployed</option>
  </select>
</div>

{% include "includes/patient_student_status.html" %}

<div class="form-group">
  <label for="spouse_employment_status">Spouse's employment status</label>
  <select class="form-control" name="spouse_employment_status">
    <option value=""{% if not patient.spouse_employment_status %} selected{% endif %}></option>
    <option value="Full-time"{% if patient.spouse_employment_status == "Full-time" %} selected{% endif %}>Full-time</option>
    <option value="Part-time"{% if patient.spouse_employment_status == "Part-time" %} selected{% endif %}>Part-time</option>
    <option value="Seasonal"{% if patient.spouse_employment_status == "Seasonal" %} selected{% endif %}>Seasonal</option>
    <option value="Disabled"{% if patient.spouse_employment_status == "Disabled" %} selected{% endif %}>Disabled</option>
    <option value="Retired"{% if patient.spouse_employment_status == "Retired" %} selected{% endif %}>Retired</option>
    <option value="Dependent"{% if patient.spouse_employment_status == "Dependent" %} selected{% endif %}>Dependent</option>
    <option value="Unemployed"{% if patient.spouse_employment_status == "Unemployed" %} selected{% endif %}>Unemployed</option>
  </select>
</div>


<div class="employers">
  <h4>Employers</h4>
  <div class="table-wrapper">
    <table class="table table-condensed employment" id="employer_table">
      <thead>
        <tr>
          <th>Employer Name</th>
          <th>Phone Number</th>
          <th>Whose job?</th>
          <th>Edit</th>
        </tr>
      </thead>
      {% if patient.employers %}
        {% for employer in patient.employers %}
          {% include "includes/employer_subform.html" %}
        {% endfor %}
      {% endif %}
      <tr class="employer" id="employer_input">
        <td>
          <input class="form-control" type="text" name="employer_name"/>
        </td>
        <td>
          <input class="form-control" type="tel" name="employer_phone_number"/>
        </td>
        <td>
          <select class="form-control" name="employer_employee">
            <option value=""></option>
            <option value="Patient">Patient</option>
            <option value="Spouse">Spouse</option>
          </select>
        </td>
      </tr>
    </table>
  </div>

  <div class="many_to_one_form hidden">
    {% include "includes/employer_subform.html" %}
  </div>

  <div class="form-group add_employer">
    <button
      type="button"
      class="btn btn-primary"
      onclick="addNewInputRow($('#employer_table'), $('#employer_input'))">
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
      Add an employer
    </button>
 </div>
</div>


