<div class="patient_race_ethnicity_group">

  <div class="form-group race">
    <label for="race">Race</label>
    <select class="form-control has_other" name="race">
      {% with %}
      {% set default_choice=("", "") %}
      {% set choices=[("AIAN", "American Indian/Alaskan Native"), ("A", "Asian"), ("AA", "Black or African-American"), ("NHPI", "Native Hawaiian/Pacific Islander"), ("W", "White"), ("other", "Other")] %}
      {% set test_value=patient.race %}
      {% include "includes/choices.html" %}
      {% endwith %}
    </select>
  </div>

  <div class="form-group {% if not patient.race == "Other" %} hidden{% endif %}">
    <label for="race_other">Please specify other race</label>
    <input type="text" class="form-control" name="race_other" id="race_other">
  </div>

  <div class="form-group ethnicity">
    <label for="ethnicity">Ethnicity</label>
    <select class="form-control" name="ethnicity">
      {% with  %}
      {% set default_choice=("", "") %}
      {% set choices=[("HL","Hispanic or Latino"),("NHL","Not Hispanic or Latino")] %}
      {% set test_value=patient.ethnicity %}
      {% include "includes/choices.html" %}
      {% endwith %}
    </select>
  </div>

</div>

