<div class="form-group last_healthcare">
  {{ form.last_healthcare.label }}
  {{ form.last_healthcare(class="form-control") }}
</div>

<div class="form-group insurance_status">
  {{ form.insurance_status.label }}
  {{ form.insurance_status(class="form-control") }}
</div>

<div class="form-group coverage_type">
  {{ form.coverage_type.label }}
  {{ form.coverage_type(class="form-control") }}
</div>

<div class="form-group {% if form.coverage_type.data != "Other" %} hidden {% endif %}">
  {{ form.coverage_type_other.label }}
  {{ form.coverage_type_other(class="form-control") }}
</div>

<div class="form-group q_an">
  {{ form.has_prescription_coverage_yn.label }}
  {{ form.has_prescription_coverage_yn(class="form-control") }}
</div>

<div class="form-group q_an">
  {{ form.applied_for_vets_benefits_yn.label }}
  {{ form.applied_for_vets_benefits_yn(class="form-control") }}
</div>
<div class="form-group q_an">
  {{ form.eligible_for_vets_benefits_yn.label }}
  {{ form.eligible_for_vets_benefits_yn(class="form-control") }}
</div>
<div class="form-group q_an">
  {{ form.applied_for_medicaid_yn.label }}
  {{ form.applied_for_medicaid_yn(class="form-control") }}
</div>
<div class="form-group q_an">
  {{ form.medicaid_date_effective.label }}
  {{ form.medicaid_date_effective(class="form-control") }}
</div>
<div class="form-group q_an">
  {{ form.applied_for_ssd_yn.label }}
  {{ form.applied_for_ssd_yn(class="form-control") }}
</div>
<div class="form-group q_an">
  {{ form.ssd_date_effective.label }}
  {{ form.ssd_date_effective(class="form-control") }}
</div>
<div class="form-group q_an">
  {{ form.care_due_to_accident_yn.label }}
  {{ form.care_due_to_accident_yn(class="form-control") }}
</div>
<div class="form-group q_an">
  {{ form.accident_work_related_yn.label }}
  {{ form.accident_work_related_yn(class="form-control") }}
</div>

