{% from "form_field_macros.html" import render_field %}

<div class="form_multiform_wrapper">

  {% for entry in form.document_images %}
    {% if entry.file_name.data %}
      {% with %}
        {% set saved_document = patient.document_images[loop.index - 1] %}
        <div class="form_multiform form_multiform_read">
          <div class="multiform_content">
            <div class="multiform_content_fields">
                <div class="form_row">
                  <a href="{{ url_for('screener.document_image', image_id=saved_document.id) }}" target="_blank">
                    <img src="{{ url_for('screener.get_image', image_id=saved_document.id, thumbnail=True) }}" alt="{{ _('preview of %(description)s', description=entry.file_description.data) }}">
                  </a>
                  {{ render_field(entry.file_description) }}
                </div>
            </div>
            <div class="multiform_content_readonly">
              <span class="multiform_item">
                <a href="{{ url_for('screener.document_image', image_id=saved_document.id) }}" target="_blank">
                  <img src="{{ url_for('screener.get_image', image_id=saved_document.id, thumbnail=True) }}" alt="{{ _('preview of %(description)s', description=entry.file_description.data) }}">
                </a>
              </span><br>
              <span class="multiform_item multiform_item_description">{{ entry.file_description.data }}</span>
              <span class="multiform_item">{{ saved_document.created.strftime('%m-%d-%Y %H:%M:%S') }} by <a href="{{ url_for('screener.user', user_id=saved_document.created_by.id) }}">{{ saved_document.created_by.full_name }}</a>
            </div>
          </div>
          {% include "includes/multiform_controls.html" %}
        {% endwith %}
      </div>
    {% endif %}
  {% endfor %}

  {% with %}
    {% set entry = form.document_images.append_entry() %}
    <div class="form_multiform form_multiform_new" id="multiform_documents">
      <div class="multiform_content">
        <div class="multiform_content_fields">
          <div class="row">
            {{ entry.file_name }}
            {{ render_field(entry.file_description) }}
          </div>
        </div>
      </div>
    </div>
  {% endwith %}
  <button data-clone-id="multiform_documents" class="button button_red button_small multiform_control_add">Add new document <i class="fa fa-plus"></i></button>
</div>
<div class="cf"></div>