<div class="table-wrapper">
  <table class="table table-condensed patient_docs" id="document_image_table">

    <thead>
      <tr>
        <th>{{ _("Preview") }}</th>
        <th>{{ _("Description") }}</th>
        <th>{{ _("Uploaded") }}</th>
        <th>{{ _("Edit") }}</th>
        <th>{{ _("Delete") }}</th>
      </tr>
    </thead>

    {% for entry in form.document_images %}
      {% if entry.file_name.data %}
        <tr class="patient_doc">
          <td class="patient_doc_thumbnail">
            <img src="https://github.com/codeforamerica/rva-screening/blob/templating/images/w2.jpg?raw=true" alt="{{ _("preview of %(description)s", description=entry.file_description.data) }}">
          </td>
          <td class="patient_doc_description">
            <a href="{{ url_for('screener.document_image', image_id=entry['id'].data) }}" class="read-only">
              {{entry.file_description.data}}
            </a>
            {{ entry.file_description(class="hidden-input") }}
          </td>
          <td class="patient_doc_uploaded">
            {{ entry.created.data.strftime('%m-%d-%Y %H:%M:%S') }} by <a href="{{ url_for('screener.user', user_id=entry.created_by.data.id) }}">{{ entry.created_by.data.full_name }}</a>
          </td>
          <td class="patient_doc_edit">
            <i class="fa fa-pencil" onclick="showHiddenFields()"></i>
          </td>
          <td class="patient_doc_delete">
            <i class="fa fa-trash" onclick="hideRow()"></i>
          </td>
        </tr>
      {% endif %}
    {% endfor %}

    {% with %}
      {% set entry = form.document_images.append_entry() %}
      <tr class="patient_doc">
        <td>
          {{ entry.file_name }}
        </td>
        <td>
          {{ entry.file_description }}
        </td>
      </tr>
    {% endwith %}
  </table>
</div>

<div class="form-group add_patient_doc">
  <button
    type="button"
    class="btn btn-primary"
    onclick="addNewInputRow($('#document_image_table'), $('.patient_doc').last())"
  >
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    {{ _("Add a document") }}
  </button>
</div>
