<h4>Patient Documents</h4>

<div class="form-list">

  {% if patient.document_images %}
    {% for document in patient.document_images %}
    {% include "includes/document_subform.html" %}
    {% endfor %}
  {% endif %}
  {% if not patient or not patient.document_images.count() %}
    {% include "includes/document_subform.html" %}
  {% endif %}

  <div class="form-group add-form-list-item">
    <button
      type="button"
      class="btn btn-primary">
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
      Add a document
    </button>
  </div>

</div>


