<h5>Emergency Contact</h5>

<table class="table table-condensed emergency_contacts" id="emergency_contact_table">

  <thead>
    <tr>
      <th>Name</th>
      <th>Phone Number</th>
      <th>Relationship</th>
    </tr>
  </thead>

  {% if patient.emergency_contacts %}
    {% for contact in patient.emergency_contacts %}
      <tr class="emergency_contact">
        <input class="hidden" value="{{contact.id}}" name="emergency_contact_id"/>
        <td>
          <div class="read-only">{{contact.name}}</div>
          <input type="text" class="form-control hidden-input" name="emergency_contact_name" value="{{contact.name}}"/>
        </td>
        <td>
          <div class="read-only">{{contact.phone_number}}</div>
          <input type="tel" class="form-control hidden-input" name="emergency_contact_phone_number" value="{{contact.phone_number}}"/>
        </td>
        <td>
          <div class="read-only">{{contact.relationship}}</div>
          <input class="form-control hidden-input" type="text" name="emergency_contact_relationship" value="{{contact.relationship}}"/>
        </td>
        <td class="emergency_contact_edit">
          <span
            class="glyphicon glyphicon-pencil"
            aria-hidden="true"
            onclick="showHiddenFields()"
          ></span>
        </td>
      </tr>
    {% endfor %}
  {% endif %}

  <tr class="emergency_contact" id="emergency_contact_input">
    <td>
      <input type="text" class="form-control" name="emergency_contact_name"/>
    </td>
    <td>
      <input type="tel" class="form-control" name="emergency_contact_phone_number"/>
    </td>
    <td>
      <input class="form-control" type="text" name="emergency_contact_relationship"/>
    </td>
    <td></td>
  </tr>

</table>

<div class="form-group add_emergency_contact">
  <button
    type="button"
    class="btn btn-primary"
    onclick="addNewInputRow($('#emergency_contact_table'), $('#emergency_contact_input'))"
  >
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    Add an emergency contact
  </button>
</div>




