<h4>Demographic Info</h4>

<form action="" method="post">

  {% include "includes/patient_gender.html" %}
  {% include "includes/patient_race_ethnicity.html" %}
  {% include "includes/patient_language.html" %}
  {% include "includes/patient_marriage.html" %}
  {% include "includes/patient_veteran.html" %}
  {% include "includes/patient_housing.html" %}

  <button type="button" class="btn btn-primary">
    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
    Save patient info
  </button>

</form>



