{% from "form_field_macros.html" import render_field %}

<div class="form_multiform_wrapper">

  <div class="form_multiform form_multiform_self">
    <div class="multiform_content">
      <div class="multiform_content_readonly">
        <span class="multiform_item"><strong>{{ form.first_name.data }} {{ form.last_name.data }}</strong></span><br>
        <span class="multiform_item">DoB: {{ form.dob.data }}</span><br>
        <span class="multiform_item">SSN: {{ form.ssn.data }}</span><br>
        <span class="multiform_item multiform_item_description">Current Patient</span><br>
      </div>
    </div>
  </div>

  {% for entry in form.household_members %}
  <div class="form_multiform form_multiform_read">
    <div class="multiform_content">
      <div class="multiform_content_fields">
          <div class="form_row">
            {{ render_field(entry.full_name,
                          class="field_third"
            ) }}
            {{ render_field(entry.dob, 
                            type="date",
                            max="2200-01-01",
                            min="1899-01-01",
                            class="field_third"
            ) }}
            {{ render_field(entry.ssn,
                            placeholder="555-55-5555",
                            pattern="\d{3}-?\d{2}-?\d{4}",
                            class="field_third"
            ) }}
          </div>
          {{ render_field(entry.relationship) }}
      </div>
      <div class="multiform_content_readonly">
        <span class="multiform_item"><strong>{{ entry.full_name.data }}</strong></span><br>
        <span class="multiform_item">DoB: {{ entry.dob.data }}</span><br>
        <span class="multiform_item">SSN: {{ entry.ssn.data }}</span><br>
        <span class="multiform_item multiform_item_description">{{ entry.relationship.data }}</span><br>
      </div>
    </div>
    {% include "includes/multiform_controls.html" %}
  </div>
  {% endfor %}

  {% with %}
    {% set entry = form.household_members.append_entry() %}
  <div class="form_multiform form_multiform_copy" id="multiform_household_size">
    <div class="multiform_content">
      <div class="multiform_content_fields">
        <div class="row">
          {{ render_field(entry.full_name,
                          class="field_third"
          ) }}
          {{ render_field(entry.dob, 
                          type="date",
                          max="2200-01-01",
                          min="1899-01-01",
                          class="field_third"
          ) }}
          {{ render_field(entry.ssn,
                          placeholder="555-55-5555",
                          pattern="\d{3}-?\d{2}-?\d{4}",
                          class="field_third"
          ) }}
        </div>
        {{ render_field(entry.relationship) }}
      </div>
    </div>
  </div>
  {% endwith %}

  <button data-clone-id="multiform_household_size" class="form_multiform form_multiform_add multiform_control_add">
    <div class="multiform_content">
      <div class="multiform_content_readonly">
        <span class="multiform_item multiform_item_description">&nbsp;</span><br>
        <span class="multiform_item"><strong>Add new household member</strong></span><br>
        <span class="multiform_item multiform_item_description">&nbsp;</span><br>
        <span class="multiform_item multiform_item_description">&nbsp;</span><br>
      </div>
    </div>
    <div class="multiform_controls">
      <i class="fa fa-plus"></i>
    </div>
  </button>

</div>

<div class="cf"></div>

<div class="form_row">
  {{ render_field(form.filed_taxes_yn, ['an'], class="field_quarter field_pad_right") }}
  {{ render_field(form.claimed_as_dependent_yn, ['an'], class="field_quarter") }}
</div>

