{% from "form_field_macros.html" import render_field %}
<div class="table-wrapper">
  <table class="table table-condensed hh_members" id="household_member_table">

    <thead>
      <tr>
        <th>#</th>
        <th>{{ _("Name") }}</th>
        <th>{{ _("DOB") }}</th>
        <th>{{ _("SSN") }}</th>
        <th>{{ _("Relationship") }}</th>
        <th>{{ _("Edit") }}</th>
        <th>{{ _("Delete") }}</th>
      </tr>
    </thead>

    <tr class="hh_member patient">
      <td class="hh_member_number">1</td>
      <td class="hh_member_full_name">{{ form.full_name.data or 'Patient' }}</td>
      <td class="hh_member_dob">{{ form.dob.data or '' }}</td>
      <td class="hh_member_ssn">{{ form.ssn.data or '' }}</td>
      <td class="hh_member_relation">Self</td>
      <td class="hh_member_edit">
      </td>
    </tr>

    {% for entry in form.household_members %}
      <tr class="hh_member">
        <td class="hh_member_number">
          {{ loop.index + 1}}
        </td>
        <td class="hh_member_full_name">
          <div class="read-only">{{ entry.full_name.data }}</div>
          {{ entry.full_name(class="form-control hidden-input") }}
        </td>
        <td class="hh_member_dob">
          <div class="read-only">{{ entry.dob.data }}</div>
          {{ entry.dob(type="date", class="form-control hidden-input") }}
        </td>
        <td class="hh_member_ssn">
          <div class="read-only">{{ entry.ssn.data }}</div>
          {{ entry.ssn(
            class="form-control hidden-input",
            placeholder="555-55-5555",
            pattern="\d{3}-?\d{2}-?\d{4}"
          ) }}
        </td>
        <td class="hh_member_relationship">
          <div class="read-only">{{ entry.relationship.data }}</div>
          {{ entry.relationship(class="form-control hidden-input") }}
        </td>
        <td class="hh_member_edit">
          <i class="fa fa-pencil" onclick="showHiddenFields()"></i>
        </td>
        <td class="hh_member_edit">
          <i class="fa fa-trash" onclick="hideRow()"></i>
        </td>
      </tr>
    {% endfor %}

    {% with %}
      {% set entry = form.household_members.append_entry() %}
      <tr class="hh_member" id="household_member_input">
        <td class="hh_member_number"></td>
        <td class="hh_member_full_name">
          {{ entry.full_name(class="form-control") }}
        </td>
        <td class="hh_member_dob">
          {{ entry.dob(type="date", class="form-control") }}
        </td>
        <td class="hh_member_ssn">
          {{ entry.ssn(
            class="form-control",
            placeholder="555-55-5555",
            pattern="\d{3}-?\d{2}-?\d{4}"
          ) }}
        </td>
        <td class="hh_member_relationship">
          {{ entry.relationship(class="form-control") }}
        </td>
        <td class="hh_member_edit"></td>
      </tr>
    {% endwith %}

  </table>
</div>

<div class="form-group add_hh_member">
  <button
    type="button"
    class="btn btn-primary"
    onclick="addNewInputRow($('#household_member_table'), $('.hh_member').last())"
  >
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    {{ _("Add a person") }}
  </button>
</div>

  {{ render_field(form.filed_taxes_yn, ['an']) }}
  {{ render_field(form.claimed_as_dependent_yn, ['an']) }}
