<div class="patient_search_form form_row form_row_nopadding">
  <label class="form_field field_search_patient_name">
    <span class="field_label">
      Patient Name
    </span>
    <input type="text"
      id="field_search_patient_name"
      class="field_input field_input_search"
      name="search_patient_name">
  </label>

  <label class="form_field field_search_patient_dob">
    <span class="field_label">
      Date of Birth
    </span>
    <input type="text"
      id="field_search_patient_name"
      class="field_input field_input_search"
      name="search_patient_dob">
  </label>

  <label class="form_field field_search_patient_ssn">
    <span class="field_label">
      SSN
    </span>
    <input type="text"
      id="field_search_patient_name"
      class="field_input field_input_search"
      name="search_patient_ssn">
  </label>
</div>