body {
  padding:0;
  margin:0;
  background:#f6f6f6;
}

/* HELPERS
 *
 *
 */
.push-right { /* used mostly with icons */
  margin-right:.5em;
}

/* MENU
 *
 *
 */
.nav a .glyphicon:before { margin-right:.5em; }


/* PRE-SCREENING
 *
 *
 */
.pre-screeners {}
.pre-screener-option {
  padding:1.2em;
  color:#fff;
  background:#333;
  margin-bottom:1em;
  text-transform: uppercase;
  font-weight:300;
  letter-spacing: .1em;
}
.pre-screener-option .glyphicon {
  float:right;
}
.pre-screener-option:nth-child(2n) {
  background-color:#e5e5e5;
}

.prescreen-form .form-group {
  margin-bottom:3em;
}