{% extends "base.html" %}
{% block content %}
  <form method="post">
    First name
    <input type="text" name="firstname"/> 
    Middle name
    <input type="text" name="middlename"/> 
    Last name
    <input type="text" name="lastname"/> 
    DOB
    <input type="text" name="dob"/> 
    Primary phone number
    <input type="text" name="phonenumber1"/> 
    Secondary phone number
    <input type="text" name="phonenumber2"/> 
    <button type="submit">Add</button>       
  </form>
{% endblock %}
