{% extends "base.html" %}
{% block content %}
  <form enctype="multipart/form-data" method="post">
    First name
    <input type="text" name="firstname"/> 
    Middle name
    <input type="text" name="middlename"/> 
    Last name
    <input type="text" name="lastname"/> 
    DOB
    <input type="text" name="dob"/> 
    Primary phone number
    <input type="text" name="phonenumber1"/> 
    Secondary phone number
    <input type="text" name="phonenumber2"/>
    Upload images of documents:
    <input type="file" name="image1"/> 
    <input type="file" name="image2"/>
    <button type="submit">Add</button>       
  </form>
{% endblock %}
