---
layout: default
login: false
---

<h3>Password reset.</h3>
<p>Hi there, <strong>your_username</strong>. You can reset your password below.</p>
<form>
  <div class="form-group">
    <label for="exampleInputEmail1">New Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Retype your new password.</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
  <a class="btn btn-default" href="auth_password-reset-success.html">Reset Password</a>
</form>