<html>
  <head>
    <title>RVA Screener</title>
    <meta name="viewport" content="width=device-width">
    <!-- <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet"> -->
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
  </head>
  <body>
    <div>
        <a href="{{ url_for('index') }}">Home</a>
        | <a href="{{ url_for('new_prescreening') }}">Pre-Screening</a>
        | <a href="{{ url_for('new_patient') }}">New Patient</a>
        {% if g.user.is_authenticated() %}
          | <a href="{{ url_for('logout') }}">Log out</a>
        {% endif %}
    </div>
    {% block content %}{% endblock %}
    <script src="{{ url_for('static', filename='js/app.min.js') }}"></script>
    <script>
    window.onload = init();
    function init() {
      window.App = new AppController();
    }
    </script>
  </body>
</html>