<html {{ _('lang="en"') }}>
  {% include "includes/head.html" %}
  <body>
    {% include "includes/nav.html" %}
    
    {% block content %}{% endblock %}

    {% include "includes/footer.html" %}
    <script type="text/javascript" src="{{ static_url }}js/vendor.js"></script>
    <script type="text/javascript" src="{{ static_url }}js/main.js"></script>
    {% block script %}{% endblock %}
    <script>
    window.onload = init();
    function init() {
      window.App = new AppController({
        foo: 'bar'
      });

      window.menu = new Menu();
      window.map = new Maps();
      window.search = new Search();
    }
    </script>
  </body>
</html>
