{% extends "base.html" %}
{% block content %}
  {% if patient and patient.id %}

      {% include "includes/patient_profile.html" %}

      <div class="patient-content col-md-9">

        {% include "includes/patient_nav.html" %}

        <table class="table">
          <thead>
            <tr>
              <th>Date</th>
              <th>Editor</th>
              <th>Entity</th>
              <th>Edit Description</th>
            </tr>
          </thead>

          {% for entry in history %}
            <tr>
              <td>{{entry.action_timestamp.strftime('%m-%d-%Y %H:%M:%S')}}</td>
              <td>
                <a href="{{ url_for('user', user_id=entry.app_user_id) }}">
                  {{entry.app_user.full_name}}
                </a>
              </td>
              <td>
                <a href="{{ url_for('service', service_id=entry.app_user.service.id) }}">
                  {{entry.app_user.service.name}}
                </a>
              </td>
              {% if entry.action == 'I' %}
                {% if entry.table_name == 'patient_service_permission' %}
                  <td>Added access for 
                    <a href="{{ url_for(
                      'service',
                      service_id=entry.row_data['service_id']
                    ) }}">
                      {{ services[entry.row_data['service_id']|int].name}}
                    </a>
                  </td>
                {% else %}
                  <td>Added {{entry.table_name | replace('_', ' ')}} with fields:<br>
                    {% for field, value in entry.row_data.iteritems() %}
                      {% if value != None and field not in (
                        'id',
                        'created',
                        'created_by_id',
                        'patient_id'
                      ) %}
                        {{readable_names[field] or field}}: {{value}}<br>
                      {% endif %}
                    {% endfor %}
                  </td>
                {% endif %}
              {% elif entry.action == 'U' %}
                <td>
                  {% if entry.table_name != 'patient' %}
                    Updated {{entry.table_name | replace('_', ' ')}}:<br>
                  {% endif %}
                  {% for field, value in entry.changed_fields.iteritems() %}
                    {% if field not in ('last_modified', 'last_modified_by_id') %}
                      Changed {{readable_names[field] or field}} from {{entry.row_data[field]}} to {{value}}<br>
                    {% endif %}
                  {% endfor %}
                </td>
              {% endif %}
          {% endfor %}

        </table>
      </div>

  {% else %}
      <h2>Uh oh, something is broken.</h2>
  {% endif %}

{% endblock %}
