{% extends "base.html" %}
{% block content %}

  {% include "includes/search_form.html" %}
    
  <div class="container">
    <div class="block_4 filter_actions">
      <h4 class="filter_title"><i class="fa fa-home"></i> <strong>{{ user.service.name }}</strong></h4>
<!--       <button data-list="0" class="filter filter_active">
        <i class="fa fa-home"></i> All patients at <strong>{{ user.service.name }}</strong> <span class="filter-count">({{ all_patients | length }})</span>
      </button> 
 -->
      <button data-list="1" class="filter filter_sub filter_active">
        Outgoing referrals <span class="filter-count">({{ org_referrals_outgoing.count() }})
        </span>
      </button>

      <button data-list="3" class="filter filter_sub">
        Incoming referrals <span class="filter-count">({{ org_referrals_incoming.count() }})</span>
      </button>

      <button data-list="5" class="filter filter_sub">
        Patients with renewal notices <span class="filter-count">({{ org_need_renewal | length }})</span>
      </button>

      <h4 class="filter_title"><i class="fa fa-user"></i> <strong>Your</strong> patients</h4>

      <button data-list="7" class="filter filter_sub">
        Outgoing referrals <span class="filter-count">({{ your_referrals_outgoing.count() }})</span>
      </button>

      <button data-list="6" class="filter filter_sub">
        Recently updated <span class="filter-count">({{ your_recently_updated.count() }})</span>
      </button>

    </div>
    <div class="block_8 box filter_lists">
      <div class="box_content">
        <!-- <ol id="list-0" class="list list_table list_filter list_alternate list_filter_active list_padding">
        {% for patient in all_patients %}
          <li class="list_row row"><a href="{{ url_for('screener.patient_overview', id=patient.id) }}">
            <div class="block_4"><strong>{{ patient.first_name }} {{ patient.last_name }} DOB: {{ patient.dob.strftime('%m/%d/%Y') }}</strong></div>
            <div class="block_8">
              <span>Created by {{ patient.created_by.full_name }} at {{ patient.created_by.service.name }} on {{ patient.created.strftime('%m/%d/%Y') }}</span>
            </div>
          </a></li>
        {% endfor %}
        </ol>  -->
        
        <ol id="list-1" class="list list_table list_filter list_alternate list_padding list_filter_active">
        {% for patient in org_referrals_outgoing %}
          <li class="list_row row"><a href="{{ url_for('screener.patient_overview', id=patient.id) }}">
            <div class="block_4"><strong>{{ patient.first_name }} {{ patient.last_name }} DOB: {{ patient.dob.strftime('%m/%d/%Y') }}</strong></div>
            <div class="block_8">
              {% for referral in patient_dict[patient.id].referrals %}
                {% if (referral.from_app_user.service_id == current_user.service_id) and (referral.status == 'SENT' or (referral.last_modified or referral.created) > one_month_ago) %}
                  <span>{{ referral.status }} to {{ referral.to_service.name }} last updated {% if referral.last_modified %}{{ referral.last_modified.strftime('%m/%d/%Y %-I:%M:%S %p') }} {% else %}{{ referral.created.strftime('%m/%d/%Y') }}{% endif %}</span>
                {% endif %}
              {% endfor %}
            </div>
          </a></li>
        {% endfor %}
        </ol> 
        
        <ol id="list-3" class="list list_table list_filter list_alternate list_padding">
        {% for patient in org_referrals_incoming %}
          <li class="list_row row"><a href="{{ url_for('screener.patient_overview', id=patient.id) }}">
            <div class="block_4"><strong>{{ patient.first_name }} {{ patient.last_name }} DOB: {{ patient.dob.strftime('%m/%d/%Y') }}</strong></div>
            <div class="block_8">
              {% for referral in patient_dict[patient.id].referrals %}
                {% if (referral.to_service_id == current_user.service_id) and (referral.status == 'SENT' or (referral.last_modified or referral.created) > one_month_ago) %}
                  <span>{{ referral.status }} from {{ referral.from_app_user.service.name }} last updated {% if referral.last_modified %}{{ referral.last_modified.strftime('%m/%d/%Y %-I:%M:%S %p') }} {% else %}{{ referral.created.strftime('%m/%d/%Y') }}{% endif %}</span>
                {% endif %}
              {% endfor %}
            </div>
          </a></li>
        {% endfor %}
        </ol> 
        
        <ol id="list-5" class="list list_table list_filter list_alternate list_padding">
        {% for patient in org_need_renewal %}
          <li class="list_row row"><a href="{{ url_for('screener.patient_overview', id=patient.id) }}">
            <div class="block_4"><strong>{{ patient.first_name }} {{ patient.last_name }} DOB: {{ patient.dob.strftime('%m/%d/%Y') }}</strong></div>
            <div class="block_8">
              <span>Last updated {{ patient.referral_last_modified.strftime('%m/%d/%Y %-I:%M:%S %p') }}</span>
            </div>
          </a></li>
        {% endfor %}
        </ol>
        
        <ol id="list-6" class="list list_table list_filter list_alternate list_padding">
        {% for patient in your_recently_updated %}
          <li class="list_row row"><a href="{{ url_for('screener.patient_overview', id=patient.id) }}">
            <div class="block_4"><strong>{{ patient.first_name }} {{ patient.last_name }} DOB: {{ patient.dob.strftime('%m/%d/%Y') }}</strong></div>
            <div class="block_8">
              <span>
                Last updated on 
                {% if patient.last_modified %}
                  {{ patient.last_modified.strftime('%m/%d/%Y %-I:%M:%S %p') }}
                {% else %}
                  {{ patient.created.strftime('%m/%d/%Y %-I:%M:%S %p') }}
                {% endif %}
              </span>
            </div>
          </a></li>
        {% endfor %}
        </ol>
        
        <ol id="list-7" class="list list_table list_filter list_alternate list_padding">
        {% for patient in your_referrals_outgoing %}
          <li class="list_row row"><a href="{{ url_for('screener.patient_overview', id=patient.id) }}">
            <div class="block_4"><strong>{{ patient.first_name}} {{ patient.last_name }} DOB: {{ patient.dob.strftime('%m/%d/%Y') }}</strong></div>
            <div class="block_8">
              {% for referral in patient_dict[patient.id].referrals %}
                {% if (referral.from_app_user_id == current_user.id) and (referral.status == 'SENT' or (referral.last_modified or referral.created) > one_month_ago) %}
                  <span>{{ referral.status }} to {{ referral.to_service.name }} last updated {% if referral.last_modified %}{{ referral.last_modified.strftime('%m/%d/%Y %-I:%M:%S %p') }} {% else %}{{ referral.created.strftime('%m/%d/%Y') }}{% endif %}</span>
                {% endif %}
              {% endfor %}
            </div>
          </a></li>
        {% endfor %}
        </ol> 

      </div>
    </div>
  </div>
{% endblock %}

{% block script %}
<script>
  /*
  ** TEMPORARY SEARCH RESULTS
  ** used in /front/js/search.js
  **
  */
  window.temp = null;
  window.tempSearchData = {
    total: 0,
    list: []
  };

  {% for patient in all_patients %}
  temp = {
    fname: '{{ patient.first_name }}',
    lname: '{{ patient.last_name }}',
    dob: '{{ patient.dob.strftime("%m/%d/%Y") }}',
    ssn: '{{ patient.ssn }}',
    created: 'Created on {{ patient.created.strftime("%m/%d/%Y") }} at {{ patient.created_by.service.name }}',
    url: '{{ url_for('screener.patient_overview', id=patient.id) }}'
  };
  tempSearchData.list.push(temp);
  tempSearchData.total++;
  window.newPatientUrl = "{{ url_for('screener.new_patient') }}" || '/new_patient';
  {% endfor %}
</script>
{% endblock %}