{% extends "base.html" %}
{% block content %}
<form method="post">

  <div class="form-group">
    <label for="email">{{ _("Email address") }}</label>
    <input type="email" class="form-control" name="email" id="email" placeholder="{{ _("you@example.com") }}">
  </div>

  <div class="form-group">
    <label for="password">{{ _("Password") }}</label>
    <input type="password" class="form-control" name="password" id="password">
    <!--<a href="auth_password-forgot.html">Forgot your password?</a>-->
  </div>

  <button class="btn btn-primary" type="submit">{{ _("Log in") }}</button>       

</form>
{% endblock %}
