{% extends "base.html" %}
{% block content %}
  <div class="container" style="padding-bottom: 10em;">
    <h1>TOOLTIPS</h1>
    <div style="text-align: center;">
      <p>Right (default)</p>
        <div style="margin: auto; width: 200px; height: 100px; background-color: #c0c0c0;" class="tooltip tooltip_right" value="this is a tooltip"></div>
      <p>Left</p>
        <div style="margin: auto; width: 200px; height: 100px; background-color: #c0c0c0;" class="tooltip tooltip_left" value="this is a tooltip"></div>
      <p>Top</p>
        <div style="margin: auto; width: 200px; height: 100px; background-color: #c0c0c0;" class="tooltip tooltip_top" value="this is a tooltip"></div>
      <p>Bottom</p>
        <div style="margin: auto; width: 200px; height: 100px; background-color: #c0c0c0;" class="tooltip tooltip_bottom" value="this is a tooltip"></div>
    </div>
  </div>
{% endblock %}