{% extends "base.html" %}
{% block content %}

<div class="container">
  <h3>{{ _("Which services would you like to check your eligibility for?") }}</h3>

  <form method="post">
  
    {% for service in services %}
      <label class="field_checkbox checkbox_extra checkbox_blue">
        <input type="checkbox" class="text" value="{{service.id}}" name="services" checked="true">
        <span class="field_checkbox_content">
          <span class="field_checkbox_content_title">{{service.name}}</span>
          <span class="field_checkbox_content_text">Lorem ipsum dolor sit amet, consectetur <a href="#">adipisicing</a> elit, sed do eiusmod</span>
        </span>
      </label>

      <!-- ORIGINAL CHECKBOX
      <div class="checkbox">
        <label>
          <input type="checkbox" class="text" value="{{service.id}}" name="services" checked="true">
          {{service.name}}
        </label>
      </div>
      /END ORIGINAL CHECKBOX -->
    {% endfor %}

    <br>

    <button class="button button_green"  type="submit">
      {{ _("Check eligibility") }} <i class="fa fa-chevron-right"></i>
    </button> 

  </form>
</div>

{% endblock %}
