{% extends "patient_template.html" %}
{% block patient_content %}

<h3>{{ _("Referrals")}}</h3>
<hr>
<div class="history_referrals">
	
	{% for referral in patient.referrals %}
		<div class="history_item history_referral history_item_{{ referral.status }} row">
			<div class="block_2 history_date">
				<span>{{ referral.created.strftime('%m/%d/%Y') }}</span>
			</div>

			<div class="block_9 history_content">
				<h2 class="history_title history_title_referrals">
					<a href="{{ url_for('screener.service', service_id=referral.from_app_user.service.id) }}">{{ referral.from_app_user.service.name }}</a><i class="fa fa-chevron-right"></i><a href="{{ url_for('screener.service', service_id=referral.to_service.id) }}">{{ referral.to_service.name }}</a>
				</h2>
				<p><a href="{{ url_for('screener.user', user_id=referral.from_app_user.id) }}">{{ referral.from_app_user.full_name }}</a></p>
				<p><strong>{{ _("Referral Status") }}:</strong> {{ referral.status }}</p>
				{% if referral.notes %}
				<p class="history_notes"><strong>{{ _("Notes") }}</strong><br>
				{{ referral.notes or "" }}</p>
				{% endif %}
			</div>
		</div>
	{% endfor %}
</div>


<h3>{{ _("Screening Results") }}</h3>
<hr>
<div class="history_results">
	{% for result in patient.screening_results %}
		<div class="history_item history_screening {{ _('results_item_eligible') if result.eligible_yn == 'Y' else _('results_item_ineligible') }} row">
			<div class="block_2 history_date">
				<span>{{ result.created.strftime('%m/%d/%Y') }}</span>
			</div>

			<div class="block_9 history_content">
				<h2 class="history_title">
					<a href="{{ url_for('screener.service', service_id=result.service.id) }}">{{ result.service.name }}</a>
				</h2>
				<p><strong>{{ _("Eligible?") }}</strong>: {{ _("Yes") if result.eligible_yn == 'Y' else _("No") }}</p>
				<p><strong>{{ _("Sliding Scale") }}</strong>: {{ result.sliding_scale.name if result.sliding_scale else _("N/A")}}</p>
				{% if result.notes %}
				<p class="history_notes"><strong>{{ _("Notes") }}</strong><br>
				{{ result.notes or "" }}</p>
				{% endif %}
			</div>
		</div>
	{% endfor %}
	<div class="history_item history_form">
		<div class="history_date block_2">
			<span><i class="fa fa-plus"></i> Screening Result</span>
		</div>

		<div class="history_content block_9">
			<form method="post">
			  {{ form.hidden_tag() }}

			  {% if form.errors %}
			    <ul class="alert_list alert_error">
			      {% for field_name, field_errors in form.errors|dictsort if field_errors %}
			        {% for error in field_errors %}
			          <li>{{ form[field_name].label }}: {{ error }}</li>
			        {% endfor %}
			      {% endfor %}
			    </ul>
			  {% endif %}
				<div>
					{{ form.eligible_yn.label }}
				  {{ form.eligible_yn() }}
				</div>
				<div>
					{{ form.sliding_scale_id.label }}
				  {{ form.sliding_scale_id() }}
				</div>
				<div>
					{{ form.notes.label }}
				  {{ form.notes() }}
				</div>
				<div>
					{{ form.submit }}
				</div>
			</form>
		</div>
	</div>
	
</div>

{% endblock %}