{% extends "base.html" %}
{% block content %}

{% include "patient/header.html" %}
<section class="patientBody">
  <div class="container">
    
    {% if patient %}
    <div class="notification notification_highlight">
      <div class="notification_left">
        <i class="fa fa-clock-o"></i>
      </div>
      <p><strong>{{ patient.first_name }} {{ patient.last_name }} applied to Nominal (estimated) at {{ current_user.service.name }}</strong><br>
      2 days ago from Bon Secours ED<span><a href="{{ url_for('screener.patient_screening_history', patient_id=patient.id) }}">See full history</a></span></p>
      <a href="#eligibility-form" class="notification_right">
        <p>Review</p>
        <i class="fa fa-chevron-down"></i>
      </a>
    </div>
    {% endif %}

    <div class="row">
      <div class="block_3">
      {% include "patient/navigation.html" %}    
      </div>
      <div class="block_9 patientContent">
      {% block patient_content %}{% endblock %}
      </div>
    </div>
  </div>
</section>

{% endblock %}