{% extends "base.html" %}
{% block content %}
  {% if patient and patient.id %}

      {% include "includes/patient_profile.html" %}
      
      <div class="patient-content col-md-9">

        {% include "includes/patient_nav.html" %}

        <p>{{ _("Who would you like to share this information with?") }}</p>

        <div class="col-sm-6 service">
          <h3>Crossover</h3>
          <p>{{ _("CrossOver Healthcare Ministry provides quality and compassionate health care to the uninsured in the greater Richmond Metropolitan area.") }}</p>
          <button onclick="sharePatientInfo( this )" class="btn btn-default btn-sm share-button">{{ _("Send Info") }} <span class="glyphicon glyphicon-share-alt"></span></button>
        </div>
        <div class="col-sm-6 service">
          <h3>Daily Planet</h3>
          <p>{{ _("Daily Planet offers a wide range of healthcare for all ages. Appointments are available on a same day/next day basis. They accept most insurances and in addition offer a sliding scale fee for uninsured patients.") }}</p>
          <button onclick="sharePatientInfo( this )" class="btn btn-default btn-sm share-button">{{ _("Send Info") }} <span class="glyphicon glyphicon-share-alt"></span></button>
        </div>
        <div class="col-sm-6 service">
          <h3>Access Now</h3>
          <p>{{ _("Access Now provides access to specialists so that no patient would go without care for lack of a willing provider. More than 900 specialists and physician extenders open their doors to treat patients referred by Access Now.") }}</p>
          <button onclick="sharePatientInfo( this )" class="btn btn-default btn-sm share-button">{{ _("Send Info") }} <span class="glyphicon glyphicon-share-alt"></span></button>
        </div>
        <div class="col-sm-6 service">
          <h3>Richmond Resource Centers</h3>
          <p>{{ _("The resource centers are located in the public housing courts. They are run by Community Health Workers and have nurses on site certain days of the week.") }}</p>
          <button onclick="sharePatientInfo( this )" class="btn btn-default btn-sm share-button">{{ _("Send Info") }} <span class="glyphicon glyphicon-share-alt"></span></button>
        </div>
      </div>

      

  {% else %}
  <h2>{{ _("Uh oh, something is broken.") }}</h2>
  {% endif %}

{% endblock %}
