{% extends "patient_template.html" %}
{% block patient_content %}

{% if patient and patient.id %}

  <p>{{ _("Who would you like to share this information with?") }}</p>

  {% for service in services %}
    <div class="col-sm-6 service">
      <h3>{{ service.name }}</h3>
      <p>{{ service.description }}</p>
      <button
        onclick="sharePatientInfo(
          this,
          {{ patient.id }},
          {{ current_user.id }},
          {{ service. id}}
        )"
        class="btn btn-default btn-sm share-button"
      >
        {{ _("Send Referral") }}
        <span class="glyphicon glyphicon-share-alt"></span>
      </button>
    </div>
  {% endfor %}

{% else %}
  <h2>{{ _("Uh oh, something is broken.") }}</h2>
{% endif %}

{% endblock %}
