{% extends "patient_template.html" %}

{% block patient_sidebar %}
<h4>Service-specific questions</h4>
<div class="patient_details_filter">
  <label class="field_checkbox checkbox_small checkbox_blue">
    <input type="checkbox" name="q_dp">
    <span class="field_checkbox_content">
      <span class="field_checkbox_content_title">Daily Planet</span>
    </span>
  </label>

  <label class="field_checkbox checkbox_small checkbox_blue">
    <input type="checkbox" name="q_cross">
    <span class="field_checkbox_content">
      <span class="field_checkbox_content_title">Crossover</span>
    </span>
  </label>

  <label class="field_checkbox checkbox_small checkbox_blue">
    <input type="checkbox" name="q_vcu">
    <span class="field_checkbox_content">
      <span class="field_checkbox_content_title">VCU</span>
    </span>
  </label>
</div>
{% endblock %}

{% block patient_content %}

<form enctype="multipart/form-data" action="" method="post" id="patient_details_form" class="print">
  {{ form.hidden_tag() }}

  {% if form.errors %}
    <ul class="errors">
        {% for field_name, field_errors in form.errors|dictsort if field_errors %}
            {% for error in field_errors %}
                <li>{{ form[field_name].label }}: {{ error }}</li>
            {% endfor %}
        {% endfor %}
    </ul>
  {% endif %}

  <!-- id info -->
  {% include "includes/patient_id.html" %}

  <!--contact info-->
  <div class="expander">
    <div class="expander-title">{{ _("Phone, Email, Address") }}</div>
      <div class="expander-content">

        <!-- testing unique questions -->
        <div class="form-group q_unique q_dp">
          <label for="ssn">TEST QUESTION - Daily Planet Question</label>
          <input class="form-control" id="ssn" name="ssn" pattern="\d{3}-?\d{2}-?\d{4}" placeholder="555-55-5555" type="text" value="222-22-2222">
        </div>

        <div class="form-group q_unique q_vcu">
          <label for="ssn">TEST QUESTION - VCU Question</label>
          <input class="form-control" id="ssn" name="ssn" pattern="\d{3}-?\d{2}-?\d{4}" placeholder="555-55-5555" type="text" value="222-22-2222">
        </div>

        <div class="form-group q_unique q_cross">
          <label for="ssn">TEST QUESTION - Crossover</label>
          <input class="form-control" id="ssn" name="ssn" pattern="\d{3}-?\d{2}-?\d{4}" placeholder="555-55-5555" type="text" value="222-22-2222">
        </div>

        <div class="form-group q_unique q_cross q_vcu">
          <label for="ssn">TEST QUESTION - VCU & Crossover</label>
          <input class="form-control" id="ssn" name="ssn" pattern="\d{3}-?\d{2}-?\d{4}" placeholder="555-55-5555" type="text" value="222-22-2222">
        </div>
        <!-- /end testing unique questions -->

        {% include "includes/patient_contact_info.html" %}
      </div>
  </div>

  <!--contact info-->
  <div class="expander">
    <div class="expander-title">{{ _("Emergency Contacts") }}</div>
      <div class="expander-content">
        {% include "includes/patient_emergency_contact.html" %}
      </div>
  </div>

  <!--household-->
  <div class="expander">
    <div class="expander-title">
      {{ _("Household Size") }}
      {% if patient.household_members %}: 
        {{ patient.household_members.count() + 1 }}
      {% endif %}
    </div>
    <div class="expander-content">
      {% include "includes/patient_household_size.html" %}
    </div>
  </div>

  <!--income-->
  <div class="expander">
    <div class="expander-title">
      {{ _("Household Income") }}
      {% if patient.total_annual_income %}:
        ${{(patient.total_annual_income / 12) | int}}/{{ _("month") }}
      {% endif %}
    </div>
    <div class="expander-content">
      {% include "includes/patient_income_sources.html" %}
    </div>
  </div>

  <!--documents-->
  <div class="expander">
    <div class="expander-title">{{ _("Document Uploads") }}
      {% if patient.document_images %}
        ({{patient.document_images.count()}})
      {% endif %}
    </div>
    <div class="expander-content">
      {% include "includes/patient_docs.html" %}
    </div>
  </div>

  <!--demographics-->
  <div class="expander">
    <div class="expander-title">{{ _("Demographic Questions") }}</div>
      <div class="expander-content">
        {% include "includes/patient_demographic_info.html" %}
      </div>
  </div>

  <!--employment-->
  <div class="expander">
    <div class="expander-title">{{ _("Employment Information") }}</div>
      <div class="expander-content">
        {% include "includes/patient_employment_info.html" %}
      </div>
  </div>

  <!--insurance-->
  <div class="expander">
    <div class="expander-title">{{ _("Insurance Information") }}</div>
      <div class="expander-content">
        {% include "includes/patient_insurance_info.html" %}
      </div>
  </div>

  <button type="submit" class="btn btn-primary">
    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
    {% if patient %}
      {{ _("Save patient info") }}
    {% else %}
      {{ _("Save new patient info") }}
    {% endif %}
  </button>

</form>

{% endblock %}
