{% extends "patient.html" %}
{% block patient_content %}

<ul class="patientOverview">
  <li>{{ patient.first_name }} {{ patient.last_name }} was created on {{ patient.created.strftime('%m/%d/%Y') }} by {{ patient.created_by.full_name }}</li>
  {% if patient.fpl_percentage %}
  <li class="list_row">
    Estimated Federal Poverty Level <span>% <strong>{{ '%0.2f'| format(patient.fpl_percentage|float) }}</strong></span>
  </li>
  {% endif %}

  {% if patient.total_annual_income %}
  <li class="list_row">
     Monthly Income <span><i class="fa fa-usd"></i> <strong>{{(patient.total_annual_income / 12) | int}} </strong>/ {{ _("month") }}</span>
  </li>
  {% endif %}

  {% if patient.household_members %}
  <li class="list_row">
    Household Size <span><strong>{{ patient.household_members.count() + 1 }}</strong> household members</span>
  </li>
  {% endif %}

  {% if patient.document_images %}
  <li class="list_row">
    Documents <span><strong>{{patient.document_images.count()}}</strong> documents uploaded</span>
  </li>
  {% endif %}
</ul>

{% endblock %}  