{% extends "base.html" %}
{% block content %}
<hr>
    <form method="post" class="prescreen-form">

      <!--household size-->
      <div class="form-group">
        <label for="household_size">What is your household size?</label>
        <input type="text" class="form-control" name="household_size" id="household_size"
        	value="{{ patient.householdsize if patient is defined }}">
      </div>

      <!--household income-->
      <div class="form-group">
        <label for="household_income">What is your monthly household income?</label>
        <input type="number" class="form-control" name="household_income" id="household_income"
          value="{{ patient.householdincome if patient is defined }}">
      </div>

      <!-- do you have health insurance? -->
      <div class="form-group">
        <p><strong>Do you have health insurance?</strong></p>
        <label class="radio-inline">
          <input type="radio" name="has_health_insurance" id="has_health_insurance_yes" value="yes"> Yes
        </label>
        <label class="radio-inline">
          <input type="radio" name="has_health_insurance" id="has_health_insurance_no" value="no"> No
        </label>
        <label class="radio-inline">
          <input type="radio" name="has_health_insurance" id="has_health_insurance_maybe" value=""> Not Sure
        </label>
      </div>

      <!-- are you eligible for medicare/medicaid? -->
      <div class="form-group">
        <p><strong>Are you eligible for Medicare/Medicaid?</strong></p>
        <label class="radio-inline">
          <input type="radio" name="is_eligible_for_medicaid" id="is_eligible_for_medicaid_yes" value="yes"> Yes
        </label>
        <label class="radio-inline">
          <input type="radio" name="is_eligible_for_medicaid" id="is_eligible_for_medicaid_no" value="no"> No
        </label>
        <label class="radio-inline">
          <input type="radio" name="is_eligible_for_medicaid" id="is_eligible_for_medicaid_maybe" value=""> Not Sure
        </label>
      </div>

      <button class="btn btn-primary" type="submit">Check eligibility</button>       

    </form>
{% endblock %}
