{% extends "base.html" %}
{% block content %}
  <body>
    <h1>Find new patients</h1>

    <!-- search -->
    <p>Search for patients</p>
    <div id="patient-search">
      <input class="search" />
      <ul class="list">
        {% for patient in patients %}
        <li>
          <h3 class="patient-name">{{ patient.firstname }} {{ patient.middlename }} {{ patient.lastname }}</h3>
          <p class="patient-dob">DOB: {{ patient.dob }}</p>
          <p class="patient-lastedit">Last edited by: <a href="#">Sandy</a> at <a href="#">Richmond Resource Centers</a></p>
          <a href="{{ url_for('patient_details', id=patient.id) }}">Request Information <span class="glyphicon glyphicon-chevron-right"></span></a>
        </li>
        {% endfor %}
      </ul>
    <!-- /search -->
  </body>
{% endblock %}    
