{% extends "base.html" %}
{% block content %}
  <body>
    <h1>Find new patients</h1>

    <!-- search -->
    <p>Search for patients</p>
    <div id="patient-search">
      <div class="form-group"><input type="text" class="search form-control" placeholder="Search by name or date of birth." /></div>

      {% for patient in patients %}
        <li class="patient-list-item col-sm-6">
          <h3 class="patient-name">{{ patient.full_name or patient.first_name }} <a class="btn btn-default" href="{{ url_for('consent', patient_id=patient.id) }}">Add New Patient</a></h3>
          <p class="patient-dob">DOB: {{patient.dob}}</p>
          <p class="patient-lastedit">
            Associated with
            {% for service in patient.services %}
              <a href="#">{{service.name}}</a>{% if not loop.last %}, {% endif %} 
            {% endfor %}
          </p>
        </li>
      {% endfor %}

    <!-- /search -->
  </body>
{% endblock %}    
