{% extends "base.html" %}
{% block content %}
  <div class="service">
    <div class="col-sm-4">
      <img src="{{ data.logo_url }}">
      <h1>{{ service.name }}</h1>
      <p><span class="glyphicon glyphicon-user"></span> <a href="#">{{ data.main_contact_name }}</a></p>
      <p><span class="glyphicon glyphicon-link"></span> <a href="{{ data.website_url }}">{{ data.website_url }}</a></p>

      <div class="locations">

        <h3>Location(s)</h3>

        {% for location in data.locations %}
        <div class="location" 
             data-name="{{ location.name }}" 
             data-address="{{ location.address }}"
             data-latitude="{{ location.latitude }}"
             data-longitude="{{ location.longitude }}">
          <p><strong>{{ location.name }}</strong></p>
          <p><span class="glyphicon glyphicon-home"></span> {{ location.address }}</p>
          <p><span class="glyphicon glyphicon-user"></span> <a href="#">Contact Name</a></p>
          <p><span class="glyphicon glyphicon-earphone"></span> <a href="tel:6666666666">(123) 456-7890</a></p>
        </div>
        {% endfor %}        
      
      </div>
    </div>
    <div class="col-sm-8">
      <div class="description">
        {{ data.description }}
      </div>

      <hr>

      <div id="service-map" class="location-map"></div>

      <div class="service-users">
        <h3>Users at Crossover</h3>
        <div class="table-wrapper">
          <table class="table table-condensed">
            <thead>
              <tr>
                <th>Name</th>
                <th>Phone</th>
                <th>Email</th>
              </tr>
            </thead>

            {% for u in data.users %}
            <tr>
              <td><a href="#"><strong>{{ u.name }}</strong></a></td>
              <td><a href="{{ u.phone }}">{{ u.phone }}</a></td>
              <td><a href="{{ u.email }}">{{ u.email }}</a></td>
            </tr>
            {% endfor %}
          </table>
        </div>
      </div>

    </div>
  </div>
{% endblock %}