{% extends "base.html" %}
{% block content %}
  <div class="service">
    <div class="col-sm-4">
      <img src="http://www.crossoverministry.org/images/template/logo.jpg">
      <h1>{{ service.name }}</h1>
      <p><span class="glyphicon glyphicon-user"></span> <a href="#">Main contact name</a></p>
      <p><span class="glyphicon glyphicon-link"></span> <a href="http://www.crossoverministry.org/">crossoverministry.org/</a></p>

      <div class="locations">

        <h3>Location(s)</h3>

        {{ data }}

        {% for location in data.locations %}
          {{ location }}
        {% endfor %}

        <div class="location" 
             data-name="Cowardin" 
             data-address="108 Cowardin Ave, Richmond, VA 23224"
             data-latitude="37.519541"
             data-longitude="-77.449814">
          <p><strong>Cowardin</strong></p>
          <p><span class="glyphicon glyphicon-home"></span> 108 Cowardin Ave, Richmond, VA 23224</p>
          <p><span class="glyphicon glyphicon-user"></span> <a href="#">Contact Name</a></p>
          <p><span class="glyphicon glyphicon-earphone"></span> <a href="tel:6666666666">(123) 456-7890</a></p>
        </div>

        <div class="location" 
             data-name="Quioccasin" 
             data-address="8600 Quioccasin Road, Suite 105, Richmond, VA 23229"
             data-latitude="37.602507"
             data-longitude="-77.565325">
          <p><strong>Quioccasin</strong></p>
          <p><span class="glyphicon glyphicon-home"></span> 8600 Quioccasin Road, Suite 105, Richmond, VA 23229</p>
          <p><span class="glyphicon glyphicon-user"></span> <a href="#">Contact Name</a></p>
          <p><span class="glyphicon glyphicon-earphone"></span> <a href="tel:6666666666">(123) 456-7890</a></p>
        </div>
        
      
      </div>
    </div>
    <div class="col-sm-8">
      <div class="description">
        <p>CrossOver Healthcare Ministry provides quality and compassionate health care to the uninsured in the greater Richmond Metropolitan area.  Our mission is to provide health care, promote wellness, and connect the talents and resources of the community with people in need in the name of Jesus Christ. CrossOver is here to serve and empower patients by providing a comprehensive approach to health care for the body, mind, and spirit!</p>
        <p>Established by volunteers in 1983, CrossOver offers a full continuum of health care services to the uninsured that includes: family medicine, primary care, obstetrics and pediatrics, podiatry, dental and vision care, mental health care, HIV diagnosis and treatment, and critical medications.  CrossOver operates 2 free clinics located in areas of identified need in Richmond, serving more than 6,800 individuals annually.</p>
        <p>We can put other free form text information here, such as <strong>services offered</strong> or <strong>screening days</strong>.</p>
      </div>

      <hr>

      <div id="service-map" class="location-map"></div>

      <div class="service-users">
        <h3>Users at Crossover</h3>
        <table class="table table-condensed">
          <thead>
            <tr>
              <th>Name</th>
              <th>Phone</th>
              <th>Email</th>
            </tr>
          </thead>

          <tr>
            <td><a href="#"><strong>Contact Name</strong></a></td>
            <td><a href="tel:1234567890">(123) 456-7890</a></td>
            <td><a href="#">contact_email@example.com</a></td>
          <tr>
            <td><a href="#"><strong>Contact Name</strong></a></td>
            <td><a href="tel:1234567890">(123) 456-7890</a></td>
            <td><a href="#">contact_email@example.com</a></td>
          <tr>
            <td><a href="#"><strong>Contact Name</strong></a></td>
            <td><a href="tel:1234567890">(123) 456-7890</a></td>
            <td><a href="#">contact_email@example.com</a></td>
          <tr>
            <td><a href="#"><strong>Contact Name</strong></a></td>
            <td><a href="tel:1234567890">(123) 456-7890</a></td>
            <td><a href="#">contact_email@example.com</a></td>
          <tr>
            <td><a href="#"><strong>Contact Name</strong></a></td>
            <td><a href="tel:1234567890">(123) 456-7890</a></td>
            <td><a href="#">contact_email@example.com</a></td>
          <tr>
            <td><a href="#"><strong>Contact Name</strong></a></td>
            <td><a href="tel:1234567890">(123) 456-7890</a></td>
            <td><a href="#">contact_email@example.com</a></td>
          <tr>
            <td><a href="#"><strong>Contact Name</strong></a></td>
            <td><a href="tel:1234567890">(123) 456-7890</a></td>
            <td><a href="#">contact_email@example.com</a></td>
        </table>
      </div>

    </div>
  </div>
{% endblock %}