{% extends "base.html" %}
{% block content %}
  <form action="/update/{{patient.id}}" method="post">
    First name
    <input type="text" name="firstname" value="{{patient.firstname}}"/>
    Middle name
    <input type="text" name="middlename" value="{{patient.middlename}}"/>
    Last name
    <input type="text" name="lastname" value="{{patient.lastname}}"/>
    DOB
    <input type="text" name="dob" value="{{patient.dob.strftime('%m/%d/%Y')}}"/>
    Primary phone number
    <input type="text" name="phonenumber1" value="{{patient.phonenumber1}}"/>
    Secondary phone number
    <input type="text" name="phonenumber2" value="{{patient.phonenumber2}}"/>
    <button type="submit">Save</button>
  </form>
{% endblock %}
