---
layout: default
login: true
---

<p class="text-muted">Logged in as <strong>user</strong></p>

<!-- search -->
<form>
  <div class="form-group">
    <label for="exampleInputAmount">Search for patients</label>
    <input type="text" class="form-control" id="exampleInputAmount" placeholder="Name, DOB, SSN">
  </div>
  <a href="patient_search-results.html" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span> Search</a>
</form>

<hr>

<p>Recently added patients</p>

<div class="patient-list">
  <a href="patient_overview.html"><div class="patient-list-item col-sm-4">
    <p><strong>Bob Loblaw</strong>  <span class="completion med">75%</span></p>
    <p class="small patient-list-item-id">DOB: <strong>02/09/1976</strong>, SSN: <strong>123-45-6789</strong></p>
  </div></a>

  <a href="patient_overview.html"><div class="patient-list-item col-sm-4">
    <p><strong>Patient Zero</strong><span class="completion">23%</span><span class="alert alert-danger small pull-right push-right"><span class="glyphicon glyphicon-file"></span>(1) out of date!</span></p>
    <p class="small patient-list-item-id">DOB: <strong>04/02/1983</strong>, SSN: <strong>123-45-6789</strong></p>
  </div></a>

  <a href="patient_overview.html"><div class="patient-list-item col-sm-4">
    <p><strong>Patient Three</strong> <span class="completion low">13%</span></p>
    <p class="small patient-list-item-id">DOB: <strong>11/21/1988</strong>, SSN: <strong>123-45-6789</strong></p>
  </div></a>

  <a href="patient_overview.html"><div class="patient-list-item col-sm-4">
    <p><strong>Firstname Lastname</strong> <span class="completion high">96%</span></p>
    <p class="small patient-list-item-id">DOB: <strong>01/13/1957</strong>, SSN: <strong>123-45-6789</strong></p>
  </div></a>
</div>
